# Importing packages and csv files

In [36]:
# importing essential libraries for data cleaning and EDA
import numpy as np
import pandas as pd

# for handling date time
import datetime as dt

# stats and other libraries
import scipy.stats as stats

# plotting libraries
import matplotlib.pyplot as plt
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)

import seaborn as sns
%matplotlib inline
sns.set(style="whitegrid")

# for handling geographic data
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame
from geopy.distance import geodesic

from shapely.geometry import Point, LineString, Polygon
from shapely.ops import nearest_points

# modeling libraries
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

from sklearn.neighbors import KNeighborsClassifier

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn import svm

from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import roc_auc_score

from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB

In [2]:
# changing pandas' option to display all columns

pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 4000)

In [3]:
# using IPython to display output more easily (without having to call print)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
combined = pd.read_csv('./assets/train_processed.csv', index_col=0)
combined.shape
combined.head()

(8610, 46)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,WnvPresent,NumMosquitos,geometry,Coord,YearMonth,Year,Month,Day,Week,n3_intersect_dates,n3_spray_sets,n3_spray_geom,n3_spray_coord,n3_spray_dist_deg,n3_spray_dist_m,n7_intersect_dates,n7_spray_sets,n7_spray_geom,n7_spray_coord,n7_spray_dist_deg,n7_spray_dist_m,n14_intersect_dates,n14_spray_sets,n14_spray_geom,n14_spray_coord,n14_spray_dist_deg,n14_spray_dist_m,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed
0,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,0,1,POINT (-87.654224 41.867108),"(41.867108, -87.654224)",2007-05,2007,5,29,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
1,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,0,2,POINT (-87.654224 41.867108),"(41.867108, -87.654224)",2007-05,2007,5,29,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
2,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,0,1,POINT (-87.64886 41.862292),"(41.862292, -87.64886)",2007-05,2007,5,29,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
3,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,0,1,POINT (-87.655232 41.896282),"(41.896282, -87.655232)",2007-05,2007,5,29,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
4,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,0,1,POINT (-87.760886 41.907645),"(41.907645, -87.760886)",2007-05,2007,5,29,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4

# Pre-processing our data

In [5]:
combined.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'WnvPresent', 'NumMosquitos', 'geometry', 'Coord', 'YearMonth', 'Year',
       'Month', 'Day', 'Week', 'n3_intersect_dates', 'n3_spray_sets',
       'n3_spray_geom', 'n3_spray_coord', 'n3_spray_dist_deg',
       'n3_spray_dist_m', 'n7_intersect_dates', 'n7_spray_sets',
       'n7_spray_geom', 'n7_spray_coord', 'n7_spray_dist_deg',
       'n7_spray_dist_m', 'n14_intersect_dates', 'n14_spray_sets',
       'n14_spray_geom', 'n14_spray_coord', 'n14_spray_dist_deg',
       'n14_spray_dist_m', 'Tavg', 'PrecipTotal', 'StnPressure', 'AvgSpeed',
       'Fort_Date', 'Fort_Tavg', 'Fort_PrecipTotal', 'Fort_StnPressure',
       'Fort_AvgSpeed'],
      dtype='object')

We will drop the columns that we wouldn't be using for modeling

- `Address, Block, Street, AddressNumberAndStreet, AddressAccuracy, geometry, Coord` - these are all captured under Longitude, Latitude
- all the columns starting with 'n' - since we've decided that spray data isn't very helpful.

In [6]:
n3_cols = [ col for col in combined.columns if "n3" in col]
n7_cols = [ col for col in combined.columns if "n7" in col]
n14_cols = [ col for col in combined.columns if "n14" in col]

In [7]:
cols_to_drop = ['Address', 'Block', 'Street', 'AddressNumberAndStreet', 'AddressAccuracy', 'geometry', 'Coord']
cols_to_drop.extend(n3_cols)
cols_to_drop.extend(n7_cols)
cols_to_drop.extend(n14_cols)
cols_to_drop

['Address',
 'Block',
 'Street',
 'AddressNumberAndStreet',
 'AddressAccuracy',
 'geometry',
 'Coord',
 'n3_intersect_dates',
 'n3_spray_sets',
 'n3_spray_geom',
 'n3_spray_coord',
 'n3_spray_dist_deg',
 'n3_spray_dist_m',
 'n7_intersect_dates',
 'n7_spray_sets',
 'n7_spray_geom',
 'n7_spray_coord',
 'n7_spray_dist_deg',
 'n7_spray_dist_m',
 'n14_intersect_dates',
 'n14_spray_sets',
 'n14_spray_geom',
 'n14_spray_coord',
 'n14_spray_dist_deg',
 'n14_spray_dist_m']

In [8]:
df = combined.drop(columns= cols_to_drop)
df.head()

,Date,Species,Trap,Latitude,Longitude,WnvPresent,NumMosquitos,YearMonth,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed
0,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
1,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,0,2,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
2,2007-05-29,CULEX RESTUANS,T091,41.862292,-87.648860,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
3,2007-05-29,CULEX RESTUANS,T049,41.896282,-87.655232,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4
4,2007-05-29,CULEX RESTUANS,T153,41.907645,-87.760886,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8610 entries, 0 to 8609
Data columns (total 21 columns):
Date                8610 non-null object
Species             8610 non-null object
Trap                8610 non-null object
Latitude            8610 non-null float64
Longitude           8610 non-null float64
WnvPresent          8610 non-null int64
NumMosquitos        8610 non-null int64
YearMonth           8610 non-null object
Year                8610 non-null int64
Month               8610 non-null int64
Day                 8610 non-null int64
Week                8610 non-null int64
Tavg                8610 non-null float64
PrecipTotal         8610 non-null float64
StnPressure         8610 non-null float64
AvgSpeed            8610 non-null float64
Fort_Date           8610 non-null object
Fort_Tavg           8610 non-null float64
Fort_PrecipTotal    8610 non-null float64
Fort_StnPressure    8610 non-null float64
Fort_AvgSpeed       8610 non-null float64
dtypes: float64(10), int64(6), object(5)
memory usage: 1.4+ MB

In [10]:
dummies = pd.get_dummies(df["Species"])
dummies.head()

,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS
0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0

In [11]:
# formatting the names into something shorter
species_names = [ name.lower().replace("culex ", "") for name in dummies.columns ]
species_names

['erraticus',
 'pipiens',
 'pipiens/restuans',
 'restuans',
 'salinarius',
 'tarsalis',
 'territans']

In [12]:
# taking out the slash character 
species_names[2] = "pipiens_restuans"
species_names

['erraticus',
 'pipiens',
 'pipiens_restuans',
 'restuans',
 'salinarius',
 'tarsalis',
 'territans']

In [13]:
# renaming columns for dummies df
dummies.columns=species_names
dummies.head()

,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0

In [14]:
df = pd.concat([df,dummies],axis=1)

In [15]:
# besides Species, we will also drop the Trap column since we can't meaningfully turn that into numeric, and it's also not a unique identifier
# Date and Fort_Date also need to be dropped
# NumMosquitos need to be dropped since it's not in test
df.drop(columns=["Species", "Trap"], inplace=True)
df.head(2)

,Date,Latitude,Longitude,WnvPresent,NumMosquitos,YearMonth,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,2007-05-29,41.867108,-87.654224,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,1,0,0,0,0
1,2007-05-29,41.867108,-87.654224,0,2,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0

# Modeling

In [16]:
# dropping all datetime columns
# NumMosquitos need to be dropped since it's not in test

X = df.drop(columns=["WnvPresent", "Date", "NumMosquitos", "YearMonth", "Fort_Date"])
X.head(2)

,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,41.867108,-87.654224,2007,5,29,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,1,0,0,0,0
1,41.867108,-87.654224,2007,5,29,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0

In [17]:
y = df["WnvPresent"]
y.head(2)

0    0
1    0
Name: WnvPresent, dtype: int64

In [18]:

# doing train, test, split
X_train, X_val, y_train, y_val = train_test_split(X, y, stratify=y, random_state = 142)

ss = StandardScaler()

X_train_sc = ss.fit_transform(X_train)
X_val_sc = ss.transform(X_val)

## Modeling without tuning hyper-parameters

We will try to model using these classifiers:

* Logistic Regression
* K Neighbors Classifier
* Decision Tree Classifier
* Random Forest Classifier
* Extra Trees Classifier

In [19]:
# Decision Tree Classifier
dt = DecisionTreeClassifier()

dt.fit(X_train_sc, y_train)

dt_train = dt.score(X_train_sc, y_train)
dt_val = dt.score(X_val_sc, y_val)
print("Train score:", dt_train)
print("Val score:", dt_val)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

Train score: 0.9891590521914202
Val score: 0.8964235949837436

In [20]:
knn = KNeighborsClassifier()

knn.fit(X_train_sc, y_train)

knn_train = knn.score(X_train_sc, y_train)
knn_val = knn.score(X_val_sc, y_val)

print("Train core:", knn_train)
print("Val score:", knn_val)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

Train core: 0.9501316400805327
Val score: 0.9391546679052485

In [21]:
lr = LogisticRegression()

lr.fit(X_train_sc, y_train)

lr_train = lr.score(X_train_sc, y_train)
lr_val = lr.score(X_val_sc, y_val)
print("Train score:", lr_train)
print("Val score:", lr_val)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

Train score: 0.9468793557379588
Val score: 0.9470506270320483

In [22]:
# random forest

rf = RandomForestClassifier()

rf.fit(X_train_sc, y_train)

rf_train = rf.score(X_train_sc, y_train)
rf_val = rf.score(X_val_sc, y_val)

print("Train score:", rf_train)
print("Val score:", rf_val)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Train score: 0.9797119405296577
Val score: 0.9284718996748723

In [23]:
et = ExtraTreesClassifier()

et.fit(X_train_sc, y_train)

et_train = et.score(X_train_sc, y_train)
et_val = et.score(X_val_sc, y_val)

print("Train score:", et_train)
print("Val score:", et_val)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=None, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
                     oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

Train score: 0.9891590521914202
Val score: 0.913144449605202

Based on accuracy scores, the best model was Logistic Regression, which returned a relatively high validation score of 0.9471 that was in fact, marginally higher than the train score of 0.9469.

But we'll try everything again with GridSearchCV.

## Running GridSearchCV

In [38]:
models = {
        "lr" : LogisticRegression(),
        "knn" : KNeighborsClassifier(),
        "dt" : DecisionTreeClassifier(),
        "rf" : RandomForestClassifier(),
        "et" : ExtraTreesClassifier()
        }

gs_parameters = {
            "lr" : {'penalty' : ['l1','l2'],
                    'solver' : ['liblinear'],
                    'C' : np.logspace(-5,0,100)
                    },
            "knn" : {'n_neighbors' : [1, 3, 5, 7, 15],
                     'weights':['uniform','distance'],
                     'metric':['euclidean','manhattan']
                    },
            "dt" : {'max_depth': [2, 3, 5, 7, 10],
                    'min_samples_split': [5, 10, 15, 20],
                    'min_samples_leaf': [2, 3, 4, 5, 6, 7]
                    },
            "rf" : {'n_estimators': [10, 20, 50, 100, 150, 200],
                    'max_depth': [1, 2, 3, 4, 5, 10],
                    'min_samples_leaf': [10, 20, 50]
                    },
            "et" : {'n_estimators': [10, 20, 50, 100, 150, 200],
                    'max_depth': [2, 3, 4, 5, 10, 20],
                    'min_samples_leaf': [10, 20, 50]
                    },
                }

In [72]:
Grid_Summary = []

for key in models.keys():
    model = models[key]
#     print(model)
    params = gs_parameters[key]
#     print(params)
    
    print("---------------------------------Running GridSearchCV for %s ---------------" % key)
    gs = GridSearchCV(model, params, cv=5, verbose=1, n_jobs=-1, scoring="roc_auc")
    
    gs.fit(X_train_sc, y_train)
    
    
    best_estimator = gs.best_estimator_
    best_params = gs.best_params_
    best_train_score = gs.best_score_
    
    val_score = gs.score(X_val_sc, y_val)
    
    y_val_proba = gs.predict_proba(X_val_sc)
    
    df_val_proba = pd.DataFrame(y_val_proba)
    y_val_proba_0 = df_val_proba[1]
    roc_auc = roc_auc_score(y_val, y_val_proba_0)
    
    # GridResults[key] = gs
    
    print(f"Best estimator is: {gs.best_estimator_}")
    print(f"Best params are: {gs.best_params_}")
    print(f"Best train score is: {gs.best_score_}")
    print(f"Validation score: {gs.score(X_val_sc, y_val)}")

    print(f"ROC/AUC : {roc_auc}")

    Grid_Summary.append([key, best_estimator, best_params, best_train_score, val_score, roc_auc])

    print("---")

---------------------------------Running GridSearchCV for lr ---------------
Fitting 5 folds for each of 200 candidates, totalling 1000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done 105 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:   12.2s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='warn',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='warn',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': array([1.00000000e...
       1.74752840e-01, 1.96304065e-01, 2.20513074e-01, 2.47707636e-01,
       2.78255940e-01, 3.12571585e-01, 3.51119173e-01, 3.94420606e-01,
       4.43062146e-01, 4.97702356e-01, 5.59081018e-01, 6.28029144e-01,
       7.05480231e-01, 7.92482898e-01, 8.90215085e-01, 1.00000000e+00]),
                         'penalty': ['l1', 'l2'], 'solver': ['liblinear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Best estimator is: LogisticRegression(C=0.49770235643321137, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)
Best params are: {'C': 0.49770235643321137, 'penalty': 'l2', 'solver': 'liblinear'}
Best train score is: 0.7813263952337094
Validation score: 0.7797187303717853
ROC/AUC : 0.7797187303717853
---
---------------------------------Running GridSearchCV for knn ---------------
Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   10.4s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=-1,
             param_grid={'metric': ['euclidean', 'manhattan'],
                         'n_neighbors': [1, 3, 5, 7, 15],
                         'weights': ['uniform', 'distance']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=1)

Best estimator is: KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                     weights='uniform')
Best params are: {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'uniform'}
Best train score is: 0.77196993723735
Validation score: 0.7807684365400996
ROC/AUC : 0.7807684365400996
---
---------------------------------Running GridSearchCV for dt ---------------
Fitting 5 folds for each of 120 candidates, totalling 600 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done 600 out of 600 | elapsed:    4.2s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': [2, 3, 5, 7, 10],
                         'min_samples_leaf': [2, 3, 4, 5, 6, 7],
                         'min_samples_split': [5, 10, 15, 20]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Best estimator is: DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')
Best params are: {'max_depth': 5, 'min_samples_leaf': 2, 'min_samples_split': 20}
Best train score is: 0.7898853317133172
Validation score: 0.7486663569173055
ROC/AUC : 0.7486663569173055
---
---------------------------------Running GridSearchCV for rf ---------------
Fitting 5 folds for each of 108 candidates, totalling 540 fits

[Parallel(n_jobs=-1)]: Done 108 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   29.4s
[Parallel(n_jobs=-1)]: Done 522 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 540 out of 540 | elapsed:  1.1min finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': [1, 2, 3, 4, 5, 10],
                         'min_samples_leaf': [10, 20, 50],
                         'n_estimators': [10, 20, 50, 100, 150, 200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=1)

Best estimator is: RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
Best params are: {'max_depth': 10, 'min_samples_leaf': 20, 'n_estimators': 200}
Best train score is: 0.8391260323983277
Validation score: 0.8378741729261849
ROC/AUC : 0.8378741729261849
---
---------------------------------Running GridSearchCV for et ---------------
Fitting 5 folds for each of 108 candidates, totalling 540 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:   12.2s
[Parallel(n_jobs=-1)]: Done 444 tasks      | elapsed:   40.5s
[Parallel(n_jobs=-1)]: Done 540 out of 540 | elapsed:   53.1s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=ExtraTreesClassifier(bootstrap=False, class_weight=None,
                                            criterion='gini', max_depth=None,
                                            max_features='auto',
                                            max_leaf_nodes=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators='warn', n_jobs=None,
                                            oob_score=False, random_state=None,
                                            verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': [2, 3, 4, 5, 10, 20],
                         'min_samples_leaf': [10, 20, 50],
                         'n_estimators': [10, 20, 50, 100, 150, 200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=1)

Best estimator is: ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=10, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=10, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=150,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)
Best params are: {'max_depth': 10, 'min_samples_leaf': 10, 'n_estimators': 150}
Best train score is: 0.836226918876731
Validation score: 0.8452264181788458
ROC/AUC : 0.8452264181788458
---

In [74]:
# new grid search

grid_df = pd.DataFrame(Grid_Summary, columns=["model", "estimator", "params", "train score", "val score", "roc_auc" ])
grid_df

,model,estimator,params,train score,val score,roc_auc
0,lr,"LogisticRegression(C=0.49770235643321137, clas...","{'C': 0.49770235643321137, 'penalty': 'l2', 's...",0.781326,0.779719,0.779719
1,knn,"KNeighborsClassifier(algorithm='auto', leaf_si...","{'metric': 'manhattan', 'n_neighbors': 15, 'we...",0.771970,0.780768,0.780768
2,dt,"DecisionTreeClassifier(class_weight=None, crit...","{'max_depth': 5, 'min_samples_leaf': 2, 'min_s...",0.789885,0.748666,0.748666
3,rf,"(DecisionTreeClassifier(class_weight=None, cri...","{'max_depth': 10, 'min_samples_leaf': 20, 'n_e...",0.839126,0.837874,0.837874
4,et,"(ExtraTreeClassifier(class_weight=None, criter...","{'max_depth': 10, 'min_samples_leaf': 10, 'n_e...",0.836227,0.845226,0.845226

*Note*: When scoring the GridSearchResults using accuracy (i.e. default scorer), somehow all the models were returning the exact same train and validation scores. 

Therefore, this version of the GridSearch is based on roc_auc - which also explains the significant drop compared to the earlier results for the un-tuned models.

Based on roc_auc, Extra Tress Classifier offers the best results.

## Voting Classifier

In [81]:
# testing if we get the full model returned
grid_df["estimator"][0]

LogisticRegression(C=0.49770235643321137, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [82]:
# initialising our hyper-tuned models

b_lr = grid_df["estimator"][0]
b_knn = grid_df["estimator"][1]
b_dt = grid_df["estimator"][2]
b_rf = grid_df["estimator"][3]
b_et = grid_df["estimator"][4]

In [87]:
vote = VotingClassifier(estimators = [
                                ('lr', b_lr),
                                ('knn', b_knn),
                                ('dt', b_dt),
                                ('rf', b_rf),
                                ('et', b_et),
                                     ],
                                    voting = "soft")

In [88]:
vote.fit(X_train_sc, y_train)
print(f'Accuracy score on training set: {vote.score(X_train_sc, y_train)}')
print(f'Accuracy score on evaluation set: {vote.score(X_val_sc, y_val)}')

VotingClassifier(estimators=[('lr',
                              LogisticRegression(C=0.49770235643321137,
                                                 class_weight=None, dual=False,
                                                 fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='liblinear', tol=0.0001,
                                                 verbose=0, warm_start=False)),
                             ('knn',
                              KNeighborsClassifier(algorithm='auto',
                                                   leaf_size=30,...
                                                   class_weight=None,
                                                   criterion='gini',
                                                   max_depth=10,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=10,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=150,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=None)

Accuracy score on training set: 0.9468793557379588
Accuracy score on evaluation set: 0.9470506270320483

In [90]:
# calculating roc_auc 
pred_proba = [i[1] for i in vote.predict_proba(X_val_sc)]

print("ROC/AUC score for Voting Classifier is:", roc_auc_score(y_val, pred_proba))

ROC/AUC score for Voting Classifier is: 0.8360931140996188

Since the Extra Trees Classifier's ROC/AUC score of 0.845 is a little better than the Voting Classifier's 0.837, we will use `b_et` to predict our test data set.

# Prepping test

In [375]:
test = pd.read_csv('./assets/test.csv')
test.shape
test.head()

(116293, 11)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [376]:
test.tail(3)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
116290,116291,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TARSALIS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8
116291,116292,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8
116292,116293,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8

In [377]:
# creating a month column
test["Year"] = pd.to_datetime(test['Date']).apply(lambda x: '{}'.format(x.year)).astype(int)

# creating a month column
test["Month"] = pd.to_datetime(test['Date']).apply(lambda x: '{}'.format(x.month)).astype(int)

# creating a day column
test["Day"] = pd.to_datetime(test['Date']).apply(lambda x: '{}'.format(x.day)).astype(int)

# creating a week column
test["Week"] = pd.to_datetime(test['Date']).apply(lambda x: '{}'.format(x.week)).astype(int)

In [378]:
test.head(2)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Year,Month,Day,Week
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11,24
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11,24

In [379]:
test.isnull().sum()

Id                        0
Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
Year                      0
Month                     0
Day                       0
Week                      0
dtype: int64

In [380]:
# getting weather records for the same day
weather_comb = pd.read_csv('./assets/weather_combined_processed.csv', index_col=0)
weather_comb.shape
weather_comb.head(2)

(1471, 5)

         Date  Tavg  PrecipTotal  StnPressure  AvgSpeed
0  2007-05-01  67.5          0.0        29.14       9.4
1  2007-05-02  51.5          0.0        29.41      13.4

In [381]:
weather_comb.loc[weather_comb["Date"] == "2014-10-02"]

            Date  Tavg  PrecipTotal  StnPressure  AvgSpeed
1441  2014-10-02  69.5         0.52       29.065       7.9

In [382]:
# merging test with weather_comb
test_combined = pd.merge(test, weather_comb, how = 'left', on = 'Date')
test_combined.head(2)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11,24,75.0,0.0,29.31,10.2
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11,24,75.0,0.0,29.31,10.2

In [383]:
test_combined.shape
test_combined.tail(2)

(116293, 19)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed
116291,116292,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8,2014,10,2,40,69.5,0.52,29.065,7.9
116292,116293,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8,2014,10,2,40,69.5,0.52,29.065,7.9

In [384]:
# getting weather records from 14 days before
weather_fort = pd.read_csv('./assets/weather_fort_processed.csv', index_col=0)
weather_fort.shape
weather_fort.head(2)

(1471, 5)

    Fort_Date  Fort_Tavg  Fort_PrecipTotal  Fort_StnPressure  Fort_AvgSpeed
0  2007-04-17       67.5               0.0             29.14            9.4
1  2007-04-18       51.5               0.0             29.41           13.4

In [385]:
# merging test_combined with weather_fort
test_combined = pd.merge(test_combined, weather_fort, how = 'left', left_on = 'Date', right_on = 'Fort_Date')
test_combined.head(2)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9

In [386]:
test_combined.shape

(116293, 24)

In [387]:
test_combined.tail(2)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed
116291,116292,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9
116292,116293,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9

In [388]:
test_cols_drop = ['Address', 'Block', 'Street', 'AddressNumberAndStreet', 'AddressAccuracy']
test_df = test_combined.drop(columns= test_cols_drop)
test_df.head(2)

,Id,Date,Species,Trap,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed
0,1,2008-06-11,CULEX PIPIENS/RESTUANS,T002,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9
1,2,2008-06-11,CULEX RESTUANS,T002,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9

In [389]:
test_dummies = pd.get_dummies(test_df["Species"])
test_dummies.head()

,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX
0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,1,0

In [390]:
test_dummies.isnull().sum()

CULEX ERRATICUS           0
CULEX PIPIENS             0
CULEX PIPIENS/RESTUANS    0
CULEX RESTUANS            0
CULEX SALINARIUS          0
CULEX TARSALIS            0
CULEX TERRITANS           0
UNSPECIFIED CULEX         0
dtype: int64

In [391]:
test_dummies.drop(columns=["UNSPECIFIED CULEX"], inplace=True)
test_dummies.head(2)

,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS
0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0

In [392]:
test_dummies.columns=species_names
test_dummies.head(2)

,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0

In [393]:
test_df = pd.concat([test_df,test_dummies],axis=1)
test_df.head(2)

,Id,Date,Species,Trap,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,1,2008-06-11,CULEX PIPIENS/RESTUANS,T002,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0
1,2,2008-06-11,CULEX RESTUANS,T002,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0

In [394]:
test_df.isnull().sum()

Id                  0
Date                0
Species             0
Trap                0
Latitude            0
Longitude           0
Year                0
Month               0
Day                 0
Week                0
Tavg                0
PrecipTotal         0
StnPressure         0
AvgSpeed            0
Fort_Date           0
Fort_Tavg           0
Fort_PrecipTotal    0
Fort_StnPressure    0
Fort_AvgSpeed       0
erraticus           0
pipiens             0
pipiens_restuans    0
restuans            0
salinarius          0
tarsalis            0
territans           0
dtype: int64

In [395]:
test_df.drop(columns=["Species", "Trap"], inplace=True)
test_df.head(2)

,Id,Date,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,1,2008-06-11,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0
1,2,2008-06-11,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0

In [396]:
test_df.tail(2)

,Id,Date,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
116291,116292,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,0,0
116292,116293,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,1,0,0,0,0,0,0

In [397]:
test_keepid = test_df.copy()

In [398]:
test_df.set_index("Id", inplace=True)
test_df.tail(2)

,Date,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
Id,,,,,,,,,,,,,,,,,,,,,,,
116292,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,0,0
116293,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,1,0,0,0,0,0,0

## Predicting for test

In [399]:
X_test = test_df.drop(columns=["Date", "Fort_Date"])
X_test.head(2)

,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
Id,,,,,,,,,,,,,,,,,,,,,
1,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0
2,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0

In [400]:
X_test.shape

(116293, 21)

In [401]:
X.shape

(8610, 21)

In [402]:
ss = StandardScaler()

# fitting 
X_sc = ss.fit_transform(X)
X_test_sc = ss.transform(X_test)

In [403]:
b_et.fit(X_sc, y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=10, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=10, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=150,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [404]:
pred_proba = b_et.predict_proba(X_test_sc)
pred_proba

array([[0.98481771, 0.01518229],
       [0.99715028, 0.00284972],
       [0.97095297, 0.02904703],
       ...,
       [0.94041931, 0.05958069],
       [0.94041931, 0.05958069],
       [0.94041931, 0.05958069]])

In [405]:
WnvPresent_proba = [prob[1] for prob in pred_proba]
WnvPresent_proba

[0.015182290986491234,
 0.0028497211387189685,
 0.02904702697258914,
 0.009056590487028802,
 0.006254965150088627,
 0.009679540875093552,
 0.009679540875093552,
 0.009679540875093552,
 0.010393780395282756,
 0.002530133156627293,
 0.023033723983720163,
 0.0026799325114008703,
 0.0018461682383067131,
 0.0033028828994656196,
 0.0033028828994656196,
 0.0033028828994656196,
 0.0168631486703757,
 0.0043602561583343915,
 0.029523217448779622,
 0.009180773493564751,
 0.007490259267735688,
 0.0098037238816295,
 0.0098037238816295,
 0.0098037238816295,
 0.007484131754090755,
 0.0031827086500013538,
 0.02578233633842739,
 0.0017052838778036476,
 0.0008967184512411636,
 0.0023282342658683974,
 0.0023282342658683974,
 0.0023282342658683974,
 0.00788337402821885,
 0.0030720585808450608,
 0.021620203487771435,
 0.0021196162774301643,
 0.000837194641717354,
 0.0027425666654949145,
 0.0027425666654949145,
 0.0027425666654949145,
 0.00788337402821885,
 0.0030720585808450608,
 0.021620203487771435,
 0.0021196162774301643,
 0.000837194641717354,
 0.0027425666654949145,
 0.0027425666654949145,
 0.0027425666654949145,
 0.00788337402821885,
 0.0030720585808450608,
 0.0220368701544381,
 0.0021196162774301643,
 0.000837194641717354,
 0.0027425666654949145,
 0.0027425666654949145,
 0.0027425666654949145,
 0.007795055928009405,
 0.002652271297755491,
 0.02571603098822346,
 0.002186615609010813,
 0.0009912810989953006,
 0.0028095659970755623,
 0.0028095659970755623,
 0.0028095659970755623,
 0.008078554248179675,
 0.0031827086500013538,
 0.026440772552419157,
 0.001645760068279838,
 0.000837194641717354,
 0.0022687104563445877,
 0.0022687104563445877,
 0.0022687104563445877,
 0.009225900537704633,
 0.003624760446551798,
 0.025385248103878596,
 0.003058689048548322,
 0.002010625923313425,
 0.00376327638599447,
 0.00376327638599447,
 0.00376327638599447,
 0.00788337402821885,
 0.0033189721610919743,
 0.021620203487771435,
 0.0023665298576770783,
 0.0010841082219642676,
 0.0029894802457418276,
 0.0029894802457418276,
 0.0029894802457418276,
 0.00902563099592565,
 0.0029480521630850655,
 0.023803234818237307,
 0.0023721642258532866,
 0.0013241011006183898,
 0.0030767515632994344,
 0.0030767515632994344,
 0.0030767515632994344,
 0.00902563099592565,
 0.003062588503937196,
 0.02401682705124701,
 0.0023721642258532866,
 0.0013241011006183898,
 0.0030767515632994344,
 0.0030767515632994344,
 0.0030767515632994344,
 0.008458484043760926,
 0.0030027344907237437,
 0.021991015989897066,
 0.0021196162774301643,
 0.000837194641717354,
 0.0027425666654949145,
 0.0027425666654949145,
 0.0027425666654949145,
 0.014168874921457145,
 0.00250247063933822,
 0.030893309345187307,
 0.008900071739178785,
 0.006156925934402351,
 0.009523022127243536,
 0.009523022127243536,
 0.009523022127243536,
 0.007752214259454906,
 0.0028651902244409685,
 0.022980333945175235,
 0.0032472992726381724,
 0.0011194356004616535,
 0.0038702496607029217,
 0.0038702496607029217,
 0.0038702496607029217,
 0.009055620321311762,
 0.0026989885084289247,
 0.02159471558384928,
 0.00262250733999056,
 0.0009957794658353371,
 0.00324545772805531,
 0.00324545772805531,
 0.00324545772805531,
 0.009504713589415025,
 0.0028340170753657673,
 0.024469901484903973,
 0.0023126404163294773,
 0.0012645772910945799,
 0.003017227753775625,
 0.003017227753775625,
 0.003017227753775625,
 0.015094868680784235,
 0.003850182180673787,
 0.029523217448779622,
 0.007945479375917691,
 0.006254965150088627,
 0.008568429763982442,
 0.008568429763982442,
 0.008568429763982442,
 0.018299417715340403,
 0.002906720682722617,
 0.0297571534474215,
 0.010206414519205776,
 0.008515900293376712,
 0.010829364907270525,
 0.010829364907270525,
 0.010829364907270525,
 0.015194515947098166,
 0.0024390198662856658,
 0.03211466048727016,
 0.008998110954865059,
 0.006254965150088627,
 0.00962106134292981,
 0.00962106134292981,
 0.00962106134292981,
 0.008045426260719019,
 0.0023718437928879313,
 0.024784177218167145,
 0.0026759994248979693,
 0.0012139982482157906,
 0.003298949812962719,
 0.003298949812962719,
 0.003298949812962719,
 0.008661371669797897,
 0.0022523553788495153,
 0.0222718192218154,
 0.0020522608881499843,
 0.0012184966150558271,
 0.002675211276214734,
 0.002675211276214734,
 0.002675211276214734,
 0.007846776907209044,
 0.002926918770812617,
 0.023500002017795805,
 0.002289230341444942,
 0.0012139982482157906,
 0.002912180729509691,
 0.002912180729509691,
 0.002912180729509691,
 0.008396192318420061,
 0.003562593102517099,
 0.021514667000396816,
 0.0028027908438622655,
 0.001176062969707043,
 0.0034257412319270153,
 0.0034257412319270153,
 0.0034257412319270153,
 0.007765727935002381,
 0.002652271297755491,
 0.02246516324597515,
 0.00278844800863733,
 0.0011192572894714913,
 0.0034113983967020796,
 0.0034113983967020796,
 0.0034113983967020796,
 0.009504713589415025,
 0.0029480521630850655,
 0.024469901484903973,
 0.0023126404163294773,
 0.0012645772910945799,
 0.003017227753775625,
 0.003017227753775625,
 0.003017227753775625,
 0.007404291434729477,
 0.0030720585808450608,
 0.021620203487771435,
 0.0021791400869539744,
 0.0008967184512411636,
 0.0028020904750187246,
 0.0028020904750187246,
 0.0028020904750187246,
 0.007998713928818397,
 0.0030720585808450608,
 0.022278639701763202,
 0.0021196162774301643,
 0.000837194641717354,
 0.0027425666654949145,
 0.0027425666654949145,
 0.0027425666654949145,
 0.009827665779013764,
 0.004110431428607052,
 0.026385758016086034,
 0.004385994429613621,
 0.0027521572458013193,
 0.005090581767059768,
 0.005090581767059768,
 0.005090581767059768,
 0.009986162260752258,
 0.0028716354372183223,
 0.02412743455023408,
 0.00263803494672739,
 0.0012184966150558271,
 0.0032609853347921394,
 0.0032609853347921394,
 0.0032609853347921394,
 0.011915089438148943,
 0.0028210060131540118,
 0.025919558561048606,
 0.004914460241913554,
 0.0018461682383067131,
 0.0055374106299783035,
 0.0055374106299783035,
 0.0055374106299783035,
 0.007998713928818397,
 0.0030720585808450608,
 0.022278639701763202,
 0.0021196162774301643,
 0.000837194641717354,
 0.0027425666654949145,
 0.0027425666654949145,
 0.0027425666654949145,
 0.008121481371236748,
 0.0023718437928879313,
 0.0251566123710901,
 0.00280397561537416,
 0.0013419744386919813,
 0.0034269260034389087,
 0.0034269260034389087,
 0.0034269260034389087,
 0.008112234921030326,
 0.0021491266436674413,
 0.02450968178187425,
 0.00258125846615367,
 0.0011192572894714913,
 0.003204208854218419,
 0.003204208854218419,
 0.003204208854218419,
 0.007493378204297177,
 0.00295735612305848,
 0.021658732176525964,
 0.0019280010270241372,
 0.0011194356004616535,
 0.0025509514150888874,
 0.0025509514150888874,
 0.0025509514150888874,
 0.007493378204297177,
 0.0028651902244409685,
 0.022980333945175232,
 0.002980632605971506,
 0.0011194356004616535,
 0.0036035829940362554,
 0.0036035829940362554,
 0.0036035829940362554,
 0.013962860158161854,
 0.0030321094279002546,
 0.029605107112590415,
 0.008735834122122038,
 0.005934208785181862,
 0.009358784510186787,
 0.009358784510186787,
 0.009358784510186787,
 0.007825730551239333,
 0.002924045990978308,
 0.021261563342944375,
 0.0029470175801964604,
 0.0012778268610306224,
 0.00356996796826121,
 0.00356996796826121,
 0.00356996796826121,
 0.008284471199724593,
 0.0024212107306511464,
 0.024376571600804458,
 0.002148651130840233,
 0.0009957794658353371,
 0.002771601518904983,
 0.002771601518904983,
 0.002771601518904983,
 0.009788364315568227,
 0.004364746734898657,
 0.024348695143688235,
 0.0044225575009116105,
 0.002788720317099308,
 0.0051271448383577575,
 0.0051271448383577575,
 0.0051271448383577575,
 0.010197817705252086,
 0.002878728072963748,
 0.024324922634793546,
 0.0023126404163294773,
 0.0012645772910945799,
 0.003017227753775625,
 0.003017227753775625,
 0.003017227753775625,
 0.00954276714238111,
 0.0021707199759580294,
 0.023956192401051894,
 0.002653937366771206,
 0.0011919361900890278,
 0.003276887754835956,
 0.003276887754835956,
 0.003276887754835956,
 0.0074851949863050885,
 0.0028249182265448892,
 0.024570838312512694,
 0.002090225366320563,
 0.0012139982482157906,
 0.0027131757543853133,
 0.0027131757543853133,
 0.0027131757543853133,
 0.00954276714238111,
 0.0021707199759580294,
 0.024286164708964237,
 0.002611474521760591,
 0.0011919361900890278,
 0.00323442490982534,
 0.00323442490982534,
 0.00323442490982534,
 0.009400388202174849,
 0.0028716354372183223,
 0.023541660491656673,
 0.0020522608881499843,
 0.0012184966150558271,
 0.002675211276214734,
 0.002675211276214734,
 0.002675211276214734,
 0.013692684445266667,
 0.00293257816621994,
 0.029840677766239932,
 0.007847440160231417,
 0.006156925934402351,
 0.008470390548296167,
 0.008470390548296167,
 0.008470390548296167,
 0.013129849028876714,
 0.0024103047407207086,
 0.030037589953713705,
 0.0065286008099561185,
 0.003785455005179687,
 0.00715155119802087,
 0.00715155119802087,
 0.00715155119802087,
 0.008587519247311107,
 0.002225794953882716,
 0.022311501761497946,
 0.0020257004631831846,
 0.0011919361900890278,
 0.0026486508512479343,
 0.0026486508512479343,
 0.0026486508512479343,
 0.007553801199088121,
 0.0035255887288572216,
 0.022330912390850728,
 0.002175267754686717,
 0.0010918510940982839,
 0.002798218142751466,
 0.002798218142751466,
 0.002798218142751466,
 0.013540919229891812,
 0.0031014335180215716,
 0.030074118837883544,
 0.008735834122122038,
 0.005934208785181862,
 0.009358784510186787,
 0.009358784510186787,
 0.009358784510186787,
 0.007825730551239333,
 0.0027519717375481226,
 0.021787879132418062,
 0.0029470175801964604,
 0.0012778268610306224,
 0.00356996796826121,
 0.00356996796826121,
 0.00356996796826121,
 0.007519897786799873,
 0.0027885348088461117,
 0.021553898137567504,
 0.002855604461018259,
 0.0011864137418524207,
 0.003478554849083009,
 0.003478554849083009,
 0.003478554849083009,
 0.007689672824484653,
 0.0025416212285991977,
 0.021553898137567504,
 0.0026604718181611393,
 0.0009912810989953006,
 0.003283422206225889,
 0.003283422206225889,
 0.003283422206225889,
 0.008032883792577494,
 0.0032624749859507317,
 0.02278398682450769,
 0.002115743945162907,
 0.0010323272845744742,
 0.0027386943332276567,
 0.0027386943332276567,
 0.0027386943332276567,
 0.009504713589415025,
 0.0029480521630850655,
 0.023803234818237307,
 0.0023126404163294773,
 0.0012645772910945799,
 0.003017227753775625,
 0.003017227753775625,
 0.003017227753775625,
 0.007689672824484653,
 0.0025416212285991977,
 0.021553898137567504,
 0.0026604718181611393,
 0.0009912810989953006,
 0.003283422206225889,
 0.003283422206225889,
 0.003283422206225889,
 0.00902563099592565,
 0.003176623591656494,
 0.023350160384580345,
 0.0023721642258532866,
 0.0013241011006183898,
 0.0030767515632994344,
 0.0030767515632994344,
 0.0030767515632994344,
 0.007493378204297177,
 0.0033553555787907523,
 0.02261111312890692,
 0.0019280010270241372,
 0.0011194356004616535,
 0.0025509514150888874,
 0.0025509514150888874,
 0.0025509514150888874,
 0.012923834265581425,
 0.0031014335180215716,
 0.027702647908660876,
 0.006364363192899371,
 0.003562737855959197,
 0.0069873135809641225,
 0.0069873135809641225,
 0.0069873135809641225,
 0.013082659033304746,
 0.0032740804468109697,
 0.027953751532088275,
 0.007230355195921031,
 0.0055398409700919676,
 0.007853305583985783,
 0.007853305583985783,
 0.007853305583985783,
 0.007528016353342106,
 0.0028651902244409685,
 0.02343340837883219,
 0.0029211087964476964,
 0.001059911790937844,
 0.0035440591845124453,
 0.0035440591845124453,
 0.0035440591845124453,
 0.00799550558892411,
 0.002505058157301209,
 0.021144041975423012,
 0.002751884937339341,
 0.0010826942181735022,
 0.00337483532540409,
 0.00337483532540409,
 0.00337483532540409,
 0.010398087247031064,
 0.0033268649278590514,
 0.02581665471982707,
 0.002999165239024512,
 0.0019511021137896152,
 0.00370375257647066,
 0.00370375257647066,
 0.00370375257647066,
 0.014014757092007238,
 0.0025982888639335213,
 0.02797888074264545,
 0.008735834122122038,
 0.005934208785181862,
 0.009358784510186787,
 0.009358784510186787,
 0.009358784510186787,
 0.007396460823220538,
 0.0030720585808450608,
 0.02207839416252212,
 0.0021791400869539744,
 0.0008967184512411636,
 0.0028020904750187246,
 0.0028020904750187246,
 0.0028020904750187246,
 0.011725052027490544,
 0.0025982888639335213,
 0.02580379328348587,
 0.004691743092693064,
 0.0016234510890862231,
 0.0053146934807578134,
 0.0053146934807578134,
 0.0053146934807578134,
 0.011648422771482274,
 0.0028210060131540118,
 0.025030669672159722,
 0.004647793575246887,
 0.0018461682383067131,
 0.005270743963311637,
 0.005270743963311637,
 0.005270743963311637,
 0.007765727935002381,
 0.0025416212285991977,
 0.021553898137567504,
 0.00278844800863733,
 0.0011192572894714913,
 0.0034113983967020796,
 0.0034113983967020796,
 0.0034113983967020796,
 0.009588094773789248,
 0.004086065049458523,
 0.02313657393156703,
 0.0037360326782165756,
 0.0021021954944042726,
 0.004440620015662722,
 0.004440620015662722,
 0.004440620015662722,
 0.009141160716678299,
 0.002567297234473745,
 0.024286164708964237,
 0.002611474521760591,
 0.0011919361900890278,
 0.00323442490982534,
 0.00323442490982534,
 0.00323442490982534,
 0.007553801199088121,
 0.0033986046018730943,
 0.022330912390850728,
 0.002175267754686717,
 0.0010918510940982839,
 0.002798218142751466,
 0.002798218142751466,
 0.002798218142751466,
 0.008223740501488089,
 0.0026670434326973294,
 0.021261563342944375,
 0.002833542402891496,
 0.0011643516837256578,
 0.0034564927909562456,
 0.0034564927909562456,
 0.0034564927909562456,
 0.008473355858534145,
 0.00245114748082559,
 0.02337773913981389,
 0.002638409760034376,
 0.0009692190408685377,
 0.0032613601480991263,
 0.0032613601480991263,
 0.0032613601480991263,
 0.007553801199088121,
 0.0033986046018730943,
 0.022330912390850728,
 0.002175267754686717,
 0.0010918510940982839,
 0.002798218142751466,
 0.002798218142751466,
 0.002798218142751466,
 0.007934394922977572,
 0.003410315887854479,
 0.022626478893313783,
 0.0021869790406681016,
 0.001103562380079669,
 0.0028099294287328514,
 0.0028099294287328514,
 0.0028099294287328514,
 0.00824288734642677,
 0.0034859391416692223,
 0.022225467355850206,
 0.0029952919374758346,
 0.0013261012183099967,
 0.0036182423255405843,
 0.0036182423255405843,
 0.0036182423255405843,
 0.007625043196832892,
 0.003284815324739321,
 0.02169270272009003,
 0.0028027908438622655,
 0.001176062969707043,
 0.003275946214582329,
 0.003275946214582329,
 0.003275946214582329,
 0.008532102176762606,
 0.0034859391416692223,
 0.023582701877694973,
 0.0035508474930313907,
 0.0018816567738655521,
 0.004024002863751454,
 0.004024002863751454,
 0.004024002863751454,
 0.007966049753628923,
 0.003614033431735206,
 0.023255892351312507,
 0.0035435315846030066,
 0.0019521572458013196,
 0.004052040490676605,
 0.004052040490676605,
 0.004052040490676605,
 0.007934394922977572,
 0.003410315887854479,
 0.023796288330708296,
 0.0021869790406681016,
 0.001103562380079669,
 0.002660134411388165,
 0.002660134411388165,
 0.002660134411388165,
 0.012675760532019263,
 0.0038858077782104807,
 0.025653458922439178,
 0.008762302211893183,
 0.005486820665802681,
 0.009385252599957934,
 0.009385252599957934,
 0.009385252599957934,
 0.009697447872565861,
 0.0035349305852280257,
 0.023857261883827516,
 0.004451544515797544,
 0.001176062969707043,
 0.004924699886517607,
 0.004924699886517607,
 0.004924699886517607,
 0.009106581632304007,
 0.0031124203691617327,
 0.02422769494665677,
 0.002127455231144292,
 0.0010440385705558595,
 0.002600610601864356,
 0.002600610601864356,
 0.002600610601864356,
 0.007866837399129972,
 0.003170033173301665,
 0.02278398682450769,
 0.002175267754686717,
 0.0010918510940982839,
 0.002798218142751466,
 0.002798218142751466,
 0.002798218142751466,
 0.009106581632304007,
 0.00346329756214419,
 0.023434721767579436,
 0.002127455231144292,
 0.0010440385705558595,
 0.0027504056192090413,
 0.0027504056192090413,
 0.0027504056192090413,
 0.009106581632304007,
 0.0031124203691617327,
 0.023327054796694432,
 0.002127455231144292,
 0.0010440385705558595,
 0.0027504056192090413,
 0.0027504056192090413,
 0.0027504056192090413,
 0.009106581632304007,
 0.0031124203691617327,
 0.024224461267856948,
 0.002127455231144292,
 0.0010440385705558595,
 0.002600610601864356,
 0.002600610601864356,
 0.002600610601864356,
 0.009439914965637338,
 0.0031124203691617327,
 0.02380464347773243,
 0.002127455231144292,
 0.001377371903889193,
 0.0029339439351976884,
 0.0029339439351976884,
 0.0029339439351976884,
 0.00921019327694969,
 0.002777275441625501,
 0.024324922634793546,
 0.0023126404163294773,
 0.0012645772910945799,
 0.002821149322403076,
 0.002821149322403076,
 0.002821149322403076,
 0.008579253993513876,
 0.003170033173301665,
 0.023442423038499458,
 0.002115743945162907,
 0.0010323272845744742,
 0.0027386943332276567,
 0.0027386943332276567,
 0.0027386943332276567,
 0.008646811517361477,
 0.00318174445928305,
 0.023442423038499458,
 0.002127455231144292,
 0.0010440385705558595,
 0.0027504056192090413,
 0.0027504056192090413,
 0.0027504056192090413,
 0.00921019327694969,
 0.002777275441625501,
 0.024432589605678557,
 0.0023126404163294773,
 0.0012645772910945799,
 0.002821149322403076,
 0.002821149322403076,
 0.002821149322403076,
 0.00852047678302953,
 0.003635692517721777,
 0.02186554419337927,
 0.0028027908438622655,
 0.001176062969707043,
 0.0034257412319270153,
 0.0034257412319270153,
 0.0034257412319270153,
 0.011636734639438836,
 0.0035349305852280257,
 0.02579654865070049,
 0.006390831282670518,
 0.003115349736580017,
 0.006863986653390581,
 0.006863986653390581,
 0.006863986653390581,
 0.008223740501488089,
 0.0026670434326973294,
 0.021261563342944375,
 0.002833542402891496,
 0.0011643516837256578,
 0.0034564927909562456,
 0.0034564927909562456,
 0.0034564927909562456,
 0.010361524175733074,
 0.003290301856561062,
 0.02783896117237882,
 0.002962602167726523,
 0.0019145390424916264,
 0.0036671895051726714,
 0.0036671895051726714,
 0.0036671895051726714,
 0.010197817705252086,
 0.002878728072963748,
 0.024432589605678557,
 0.0023126404163294773,
 0.0012645772910945799,
 0.003017227753775625,
 0.003017227753775625,
 0.003017227753775625,
 0.009929791796467179,
 0.003094223425188513,
 0.027521410111069688,
 0.002162602167726524,
 0.0014478723758249601,
 0.003004444407133455,
 0.003004444407133455,
 0.003004444407133455,
 0.01056608532598619,
 0.0027578890018214275,
 0.024353465026553972,
 0.0023126404163294773,
 0.0015979106244279136,
 0.003154482655736409,
 0.003154482655736409,
 0.003154482655736409,
 0.009613704373605236,
 0.002777275441625501,
 0.024353465026553972,
 0.0023126404163294773,
 0.0015979106244279136,
 0.003154482655736409,
 0.003154482655736409,
 0.003154482655736409,
 0.011487214765654855,
 0.003094223425188513,
 0.026102838460137934,
 0.0025435545486789043,
 0.0018288247567773408,
 0.0033853967880858363,
 0.0033853967880858363,
 0.0033853967880858363,
 0.011523777836952843,
 0.0031307864964865016,
 0.026102838460137934,
 0.002580117619976893,
 0.0018653878280753297,
 0.003421959859383826,
 0.003421959859383826,
 0.003421959859383826,
 0.010197817705252086,
 0.00276469298524445,
 0.024432589605678557,
 0.0023126404163294773,
 0.0012645772910945799,
 0.003017227753775625,
 0.003017227753775625,
 0.003017227753775625,
 0.010197817705252086,
 0.0028521048110463684,
 0.023025182198271148,
 0.0023126404163294773,
 0.0012645772910945799,
 0.002821149322403076,
 0.002821149322403076,
 0.002821149322403076,
 0.008635713821408294,
 0.003815157248665107,
 0.023803240598233695,
 0.0037360326782165756,
 0.0021021954944042726,
 0.0042445415842901745,
 0.0042445415842901745,
 0.0042445415842901745,
 0.008413477516466945,
 0.00318174445928305,
 0.024261773147082364,
 0.002127455231144292,
 0.0010440385705558595,
 0.002600610601864356,
 0.002600610601864356,
 0.002600610601864356,
 0.010171047985256886,
 0.003290301856561062,
 0.02783896117237882,

In [406]:
test_df["WnvPresent"] = WnvPresent_proba
test_df["WnvPresent"].head()

Id
1    0.015182
2    0.002850
3    0.029047
4    0.009057
5    0.006255
Name: WnvPresent, dtype: float64

In [334]:
submission = test_df[["WnvPresent"]]
submission.index.name = "Id"
submission.head()

    WnvPresent
Id
1     0.016814
2     0.003286
3     0.029004
4     0.005925
5     0.004223

In [335]:
submission.to_csv("./assets/submission_b_et_proba.csv", index = True)

In [336]:
submission.shape

(116293, 1)

**Kaggle**

Private: 0.71901

Public: 0.72772

# Additional feature selection

## Dropping `Year`, `Month`, `Day` 

We're leaving only 'Week`

In [407]:
X.head()

,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,41.867108,-87.654224,2007,5,29,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,1,0,0,0,0
1,41.867108,-87.654224,2007,5,29,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
2,41.862292,-87.648860,2007,5,29,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
3,41.896282,-87.655232,2007,5,29,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
4,41.907645,-87.760886,2007,5,29,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0

In [408]:
X_no_ym = X.drop(columns=["Year", "Month", "Day"])
X_no_ym

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,1,0,0,0,0
1,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0
2,41.862292,-87.648860,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0
3,41.896282,-87.655232,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0
4,41.907645,-87.760886,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8605,41.726465,-87.585413,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,1,0,0,0,0,0
8606,41.726465,-87.585413,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0
8607,41.723195,-87.649970,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0
8608,41.868077,-87.666901,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0
8609,41.793818,-87.654234,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0

In [409]:
X_no_ym.head()

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,1,0,0,0,0
1,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
2,41.862292,-87.648860,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
3,41.896282,-87.655232,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
4,41.907645,-87.760886,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0

In [410]:
# doing train, test, split
X_train, X_val, y_train, y_val = train_test_split(X_no_ym, y, stratify=y, random_state = 142)

ss = StandardScaler()

X_train_sc = ss.fit_transform(X_train)
X_val_sc = ss.transform(X_val)

### Predicting using Voting Classifier

In [411]:
vote = VotingClassifier(estimators = [
                                ('lr', b_lr),
                                ('knn', b_knn),
                                ('dt', b_dt),
                                ('rf', b_rf),
                                ('et', b_et),
                                     ],
                                    voting = "soft")


vote.fit(X_train_sc, y_train)
print(f'Accuracy score on training set: {vote.score(X_train_sc, y_train)}')
print(f'Accuracy score on evaluation set: {vote.score(X_val_sc, y_val)}')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

VotingClassifier(estimators=[('lr',
                              LogisticRegression(C=0.49770235643321137,
                                                 class_weight=None, dual=False,
                                                 fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='liblinear', tol=0.0001,
                                                 verbose=0, warm_start=False)),
                             ('knn',
                              KNeighborsClassifier(algorithm='auto',
                                                   leaf_size=30,...
                                                   class_weight=None,
                                                   criterion='gini',
                                                   max_depth=10,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=10,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=150,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=None)

Accuracy score on training set: 0.9468793557379588
Accuracy score on evaluation set: 0.9470506270320483

In [412]:
X_test.head()

,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
Id,,,,,,,,,,,,,,,,,,,,,
1,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0
2,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0
3,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,1,0,0,0,0,0
4,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,0,1,0,0
5,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,0,0,0,1

In [413]:
X_test_no_ym = X_test.drop(columns=["Year", "Month", "Day"])
X_test_no_ym.head(2)

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
Id,,,,,,,,,,,,,,,,,,
1,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0
2,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0

In [414]:
ss = StandardScaler()

X_no_ym_sc = ss.fit_transform(X_no_ym)
X_test_no_ym_sc = ss.transform(X_test_no_ym)

In [415]:
vote.fit(X_no_ym_sc, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

VotingClassifier(estimators=[('lr',
                              LogisticRegression(C=0.49770235643321137,
                                                 class_weight=None, dual=False,
                                                 fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='liblinear', tol=0.0001,
                                                 verbose=0, warm_start=False)),
                             ('knn',
                              KNeighborsClassifier(algorithm='auto',
                                                   leaf_size=30,...
                                                   class_weight=None,
                                                   criterion='gini',
                                                   max_depth=10,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=10,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=150,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=None)

In [416]:
pred_proba = vote.predict_proba(X_test_no_ym_sc)
pred_proba

array([[0.98108911, 0.01891089],
       [0.99366916, 0.00633084],
       [0.9460988 , 0.0539012 ],
       ...,
       [0.97847558, 0.02152442],
       [0.97609873, 0.02390127],
       [0.97859326, 0.02140674]])

In [417]:
WnvPresent_proba = [prob[1] for prob in pred_proba]
WnvPresent_proba

[0.018910887428591972,
 0.006330836823385126,
 0.053901197657079424,
 0.007105051276047786,
 0.006690660830768557,
 0.007794771926495331,
 0.011085178882094707,
 0.007631061864846489,
 0.01343473227724834,
 0.005404426106347791,
 0.07604327301505096,
 0.005028734817383675,
 0.0044916713894630825,
 0.005709593785779943,
 0.008388452995960796,
 0.005576745007997421,
 0.022817339063010377,
 0.00976875184992893,
 0.08581817446742243,
 0.010232523218165621,
 0.009780122140207653,
 0.010933634614132682,
 0.014574235872555486,
 0.010752161080378572,
 0.008272394004459546,
 0.004367563808558229,
 0.015466145544859167,
 0.0028091762725097995,
 0.002378196983636264,
 0.0033387030072761755,
 0.005045135444832654,
 0.0032545145314037153,
 0.008121960765925482,
 0.004374620098894107,
 0.04086014249491449,
 0.0024096774991767224,
 0.0018755601319240874,
 0.0029510957555999575,
 0.004608725202691462,
 0.0028693361621455,
 0.008189493219990162,
 0.004319213691732299,
 0.04070816623891874,
 0.0024292044945992547,
 0.0018951179929485606,
 0.002971932340271665,
 0.004670584893322028,
 0.0028881311466926367,
 0.008202031118339188,
 0.004500567256225689,
 0.027786032701974765,
 0.002494030431413293,
 0.001959910912754691,
 0.0030353574057217342,
 0.004690126771074686,
 0.002953740117075159,
 0.008520332205274875,
 0.004635466593484438,
 0.01589837796358594,
 0.0026655601320570454,
 0.0023792114364188316,
 0.003156098920480438,
 0.005130629569145531,
 0.003058544979216293,
 0.008122087364316568,
 0.004205642249608771,
 0.02845315464995927,
 0.0028410335426613436,
 0.002308240169618394,
 0.0033616851842976614,
 0.004789782629106084,
 0.0032913323694476484,
 0.010232258330148491,
 0.005202477230845567,
 0.01694626535879303,
 0.0029338739225711888,
 0.0023591811445799553,
 0.003544465333138915,
 0.005855610878742743,
 0.003430076184772124,
 0.008117702967832595,
 0.004182443213643943,
 0.04063361467994413,
 0.002455932115991319,
 0.001893612257991332,
 0.002997451916504313,
 0.004658262876809698,
 0.0029155340201883046,
 0.009786144903795287,
 0.0052279649970290425,
 0.02978560476209572,
 0.002890140769486236,
 0.0024187078127041878,
 0.0034943495868294933,
 0.005606670043485709,
 0.003389911611483385,
 0.009380639282814527,
 0.005042209264213385,
 0.029463434754795896,
 0.002679572405697853,
 0.0022680634646619867,
 0.0032870677421192583,
 0.0055018186601423135,
 0.0031775057622571755,
 0.007751198007547366,
 0.004112994913312873,
 0.027053012637715933,
 0.0025749348477265956,
 0.002044731258218111,
 0.003105837239734844,
 0.004433418468087097,
 0.0030404709389819486,
 0.01882465478532397,
 0.006927814379466568,
 0.08355031086521808,
 0.009306473009662187,
 0.00877425354103403,
 0.009999406463675697,
 0.013051830848780551,
 0.009847729997607276,
 0.008735177582849668,
 0.004633674440609468,
 0.03187119465406664,
 0.003136298308023029,
 0.002652642427170463,
 0.003632198485857635,
 0.0053506621906565435,
 0.0035474110311473532,
 0.010859426573110485,
 0.005418761744737703,
 0.05834300060577842,
 0.003033731642632911,
 0.0027043335747984187,
 0.0035632550511052958,
 0.00638026036456972,
 0.003423452460510875,
 0.00916557163051213,
 0.004627504651559341,
 0.041395520731830796,
 0.0026271534884182088,
 0.002142933352062789,
 0.003329534301116771,
 0.0052457374531007656,
 0.003234891390873669,
 0.021342048904004846,
 0.008570227466846565,
 0.0843109001079563,
 0.00937293584434104,
 0.008958626063065245,
 0.01006607717390931,
 0.013461784513388053,
 0.009897032801149267,
 0.021361115106182788,
 0.008683736219513944,
 0.08396847207443295,
 0.008977284715080061,
 0.008196783136712276,
 0.009648756411556287,
 0.013559687802117281,
 0.009453524746468383,
 0.021680580462775746,
 0.008061037292757622,
 0.08498060270781763,
 0.009834367299344931,
 0.009419959702390226,
 0.01053429029749029,
 0.0138022915999442,
 0.01037171448609871,
 0.009140258113780286,
 0.004884974591919622,
 0.04350338129846232,
 0.002695145504585711,
 0.0024377104741665125,
 0.003154028458168024,
 0.005106785810178843,
 0.003057561397840523,
 0.01055677636018777,
 0.0053125094877956094,
 0.07453689480589876,
 0.0033133546281697256,
 0.0029387042295465683,
 0.0038120598626781056,
 0.006291385455112949,
 0.0036892368667777653,
 0.008906121946365897,
 0.004617716184701533,
 0.031937091438864106,
 0.0029633894139529174,
 0.0026901304686041696,
 0.003500173538581051,
 0.00529445773176868,
 0.003411609588067299,
 0.011793912421519687,
 0.006006507301257685,
 0.04579294696590246,
 0.003613793399865646,
 0.0031132561433145716,
 0.004155589830011253,
 0.007351740908554808,
 0.003996649485872363,
 0.008961047014877745,
 0.0048332948019826185,
 0.028788951080435075,
 0.0028423489391183688,
 0.00255641938464924,
 0.0033251418989963554,
 0.005402184070014278,
 0.0032224674010574057,
 0.009400991079740977,
 0.004822240140385933,
 0.042132693578952864,
 0.0025392803196255835,
 0.002055077936926198,
 0.003242414339141626,
 0.005182150419677869,
 0.0031465971554688254,
 0.008110264902622222,
 0.004639177310010788,
 0.01441069588443562,
 0.0024422922134148895,
 0.0020140573466233794,
 0.0029886310348422457,
 0.004800307218531126,
 0.002899200389085811,
 0.007972948258814208,
 0.004307742968513744,
 0.04065328151774123,
 0.002580735051588985,
 0.002050643265866298,
 0.0031163815477331727,
 0.0045930004174982875,
 0.003043619732069132,
 0.013279132906727793,
 0.006584395633457254,
 0.0354983496261034,
 0.0049754222799584065,
 0.004258001873657493,
 0.00551427097542153,
 0.008554470304499965,
 0.005363211842576146,
 0.011745072196703388,
 0.005811852308317081,
 0.0733445323426277,
 0.0034988393249275928,
 0.003063454979925058,
 0.004167759919046258,
 0.006815346138271561,
 0.0040364838965128115,
 0.012632135071716599,
 0.005381313343988747,
 0.07441719936717939,
 0.0039592105564324855,
 0.0035240273464798876,
 0.004636662109798169,
 0.00754842093930701,
 0.0044920840101272935,
 0.008141607683517321,
 0.0043502468141526545,
 0.04088907099201415,
 0.0026064904928902377,
 0.002076400912558683,
 0.003142230566883773,
 0.004621786893194277,
 0.0030693228720980225,
 0.00932911766538586,
 0.005183672579790991,
 0.04376298744375766,
 0.00300490484643576,
 0.0027869551843386874,
 0.0034645535980506194,
 0.005441228096995038,
 0.0033668926263265542,
 0.008907591073785793,
 0.004833190621554106,
 0.04404469509659596,
 0.0027682741450526056,
 0.002516787961779224,
 0.0032353863452614846,
 0.005242799983726775,
 0.0031361904721011425,
 0.00846464304807816,
 0.004379927431956666,
 0.03127656964179441,
 0.002946346521647008,
 0.0024800570118622594,
 0.0034765522654132525,
 0.005064795803792167,
 0.00339824378608199,
 0.008555030840395958,
 0.004402927279777258,
 0.0317931584025247,
 0.003042433574266192,
 0.0026520962739136145,
 0.0035741279446897755,
 0.005209035322116516,
 0.0034934987802680726,
 0.01574632028420547,
 0.005729405732744654,
 0.0643318786167989,
 0.005944148221928914,
 0.005635714065555729,
 0.006469597097722742,
 0.009889142339329575,
 0.006299344307717862,
 0.009058774539836357,
 0.005032104919123549,
 0.015957954439902014,
 0.0026793835367036264,
 0.0021476960876732373,
 0.0031723048716204108,
 0.005564781416449537,
 0.003053839044425289,
 0.010316574395495937,
 0.005542573198737291,
 0.07141618240326383,
 0.0030117888232660574,
 0.002335818072674895,
 0.0035127790125487114,
 0.00617701419580117,
 0.00338066575947819,
 0.011427877581584672,
 0.006114398329533935,
 0.017975469808238637,
 0.003615142197686877,
 0.0031190229464437987,
 0.0041456321846046595,
 0.006876476023845985,
 0.004010167877612775,
 0.00857571509859927,
 0.004308063333661323,
 0.028102472299619374,
 0.00253407177147577,
 0.002081986849499457,
 0.003226639893916257,
 0.004835729741778909,
 0.003147294828157254,
 0.010107911764318467,
 0.004993569635733394,
 0.07164188724258665,
 0.00305632303562678,
 0.002607763586539848,
 0.0034638951564181105,
 0.005773668060515676,
 0.0033495747807896345,
 0.00905091458180209,
 0.004870249534243374,
 0.030323622024391296,
 0.0026627883576765335,
 0.0024099118421371246,
 0.0031532862496467793,
 0.005011756515466637,
 0.003061522919678024,
 0.009966466625717199,
 0.00507262661450232,
 0.05835357084112038,
 0.002791455957227005,
 0.0023694779750188396,
 0.003238305119671205,
 0.005573452480387887,
 0.0031227132585178534,
 0.012802592329092888,
 0.006066332462769048,
 0.07458455298375437,
 0.004520780378964822,
 0.004085365749033053,
 0.005188416403817793,
 0.00779616071068633,
 0.005059143317781544,
 0.018991762123984866,
 0.0067260734043102345,
 0.08321534789300991,
 0.009024913524098552,
 0.008594437697736861,
 0.009719576408038484,
 0.012825386739515564,
 0.00956520314576413,
 0.01491920085943041,
 0.00572740381493958,
 0.06532676431303033,
 0.006704527083106533,
 0.006167526005253221,
 0.007388030622658701,
 0.010148834006740482,
 0.007251058286529446,
 0.010183314356944629,
 0.005118590422479031,
 0.06085379874671952,
 0.0032989186566131775,
 0.0029242077094824488,
 0.0038059852110881322,
 0.0062054930510813885,
 0.0036871667776376487,
 0.008372413445832694,
 0.004793010117589522,
 0.027939928906255896,
 0.002387185570218363,
 0.0019353803259952007,
 0.002941477204350532,
 0.005001607579061129,
 0.0028396478523593136,
 0.014598639555369452,
 0.005882191593333692,
 0.06381954015801346,
 0.00556850651979162,
 0.005273981016966969,
 0.006090399829072778,
 0.00940051748625625,
 0.005925691719675536,
 0.009112571718096336,
 0.005051522693909443,
 0.029373419984062142,
 0.0026804750567489414,
 0.0021408246073123124,
 0.003166304497878835,
 0.005586515639797618,
 0.003046447679344215,
 0.008711332767314738,
 0.005072551595373736,
 0.014642240941792783,
 0.0025188233138148585,
 0.002208037462814395,
 0.0030375694835172774,
 0.005155816900171109,
 0.002932835168678929,
 0.008784685737396089,
 0.005194605666323846,
 0.014720966896159393,
 0.0026077681507279604,
 0.002296974412448057,
 0.003126179718463893,
 0.0052339931367990835,
 0.003021967076067237,
 0.008352204722009792,
 0.004490962215613603,
 0.04100575987234119,
 0.002462480579425992,
 0.0019284413239492742,
 0.003007212989248572,
 0.004768624897379087,
 0.002920286726972815,
 0.009348020757655628,
 0.00468615111246744,
 0.0421897596849348,
 0.0025830531429337257,
 0.0021418498764074387,
 0.003285693478706709,
 0.005210005731025253,
 0.0031906459642797986,
 0.008781739814190113,
 0.005193262592199868,
 0.014717196211826256,
 0.0026076928036983865,
 0.002296897613449229,
 0.0031260427744397544,
 0.005231935270317155,
 0.0030219261668012155,
 0.009744945335810539,
 0.005207612900518394,
 0.029935844562403686,
 0.0027611042869186845,
 0.002338457238735857,
 0.003368692808580262,
 0.005586346418729836,
 0.0032589855424448298,
 0.009105519911910479,
 0.00477444808367441,
 0.030735992473693435,
 0.0032141866209861964,
 0.0029255978719870557,
 0.0037368897726903863,
 0.005432528712447189,
 0.003653238588059072,
 0.014274245370289493,
 0.00590885130732143,
 0.06407859983427773,
 0.005608580515702207,
 0.005313923388931729,
 0.006299838193186062,
 0.009437909521585228,
 0.006143834516805238,
 0.017087897986665372,
 0.006870434206099193,
 0.06781657984602493,
 0.007791374646386451,
 0.00735627998087187,
 0.00847258150539242,
 0.011500396530845922,
 0.00832214766507052,
 0.008371105452617676,
 0.004419624353592075,
 0.031678240175684616,
 0.003092580488614311,
 0.002626237223696281,
 0.003620505379286857,
 0.005137207204091954,
 0.0035457525839308404,
 0.009006662599429116,
 0.00481019575740341,
 0.02959788335641842,
 0.002463406799001245,
 0.0021635075473551988,
 0.0029522617174083587,
 0.00521822030090581,
 0.0028401360199551014,
 0.009116283338814288,
 0.004263379119172834,
 0.015207281847380783,
 0.0028061722655229756,
 0.0022088943037708673,
 0.003496527216577105,
 0.005036214112200614,
 0.003420632337426259,
 0.014919679325794086,
 0.005999996505071273,
 0.06545825249856563,
 0.0058666706702820565,
 0.005405015378721253,
 0.006561205338316736,
 0.00980031799240991,
 0.006400091566787403,
 0.008301892372195608,
 0.004591470646853729,
 0.02841158631101831,
 0.0025136422675545696,
 0.0021022683400879734,
 0.003064352900211976,
 0.005012688791748398,
 0.0029681065199580517,
 0.012407934658328712,
 0.005618670002628416,
 0.07461880457597234,
 0.00422477421338224,
 0.0037179498465536157,
 0.004864673535233377,
 0.007804547114518735,
 0.0047186775421333635,
 0.012624873822968929,
 0.005835570813187342,
 0.0744154657518263,
 0.004172715171481915,
 0.00373751862406344,
 0.004849601050470978,
 0.007743865673300365,
 0.004705905010119649,
 0.008955290007790401,
 0.005013535049446199,
 0.028763574150402222,
 0.002533786288952162,
 0.0022338145844531835,
 0.0030195676421405455,
 0.005189787491744646,
 0.0029122339802946837,
 0.0111461158829912,
 0.006213641610466057,
 0.017107048561716617,
 0.00362742259875526,
 0.003146249093641568,
 0.004154034636118356,
 0.0067646551800724375,
 0.004024616984112566,
 0.010352654961010274,
 0.005605436583334053,
 0.0727237989250071,
 0.0030232217532112963,
 0.0026485797691595454,
 0.003522283917274527,
 0.006012696536666933,
 0.0033989044011237626,
 0.008197679222442944,
 0.004549037487161072,
 0.041348835666299405,
 0.002296642081049554,
 0.0018779159694641543,
 0.0028484192777711546,
 0.004830065644072695,
 0.0027505100791235223,
 0.00939645438447181,
 0.005234113836545699,
 0.04331543055776271,
 0.002641650786316516,
 0.0021708193434347147,
 0.0031164384389786638,
 0.0057004606384325135,
 0.002988357508888781,
 0.00919278352223222,
 0.004799409442769784,
 0.056903963875390706,
 0.0024529414396354467,
 0.0021590130124539714,
 0.0029366106924844904,
 0.005289652507345194,
 0.0028201219537967353,
 0.008355605872597179,
 0.004591373854013243,
 0.04145906985557105,
 0.0023427480265236817,
 0.0019193207805368831,
 0.0028956705992580316,
 0.0049130759636525,
 0.0027959757000073607,
 0.008631608832588825,
 0.004895321560208899,
 0.0424614475063966,
 0.002477799039995322,
 0.0020544166376795466,
 0.00303262405460464,
 0.005109394750270332,
 0.0029299631245077976,
 0.009288450280549922,
 0.005225606893848489,
 0.05688573581282426,
 0.002551722758577635,
 0.0021978562069957983,
 0.0030466669597737405,
 0.005502018362359253,
 0.0029250471385616735,
 0.011125862118306167,
 0.00632675359880763,
 0.058765020982731876,
 0.003480193817307189,
 0.0025986281253132667,
 0.004018764840238112,
 0.007115420938931497,
 0.0038648541143169375,
 0.009820067547717207,
 0.005635028975477823,
 0.04301951616540978,
 0.0031686979491445154,
 0.002838867810802767,
 0.0036625210862141185,
 0.00608303261648724,
 0.0035426491998570495,
 0.01051749632816359,
 0.0058526392258935935,
 0.031317048973584165,
 0.002897701320070477,
 0.00245791531922879,
 0.0034348114380811563,
 0.006486368339399648,
 0.0032831787803261473,
 0.008822854901711674,
 0.00487184525632059,
 0.04188101333839491,
 0.0025755023870028745,
 0.00214314385864025,
 0.0031540064578617216,
 0.005296318295581111,
 0.003048068764678606,
 0.015728286238638887,
 0.006504126324455893,
 0.07781105982617519,
 0.006380399323562902,
 0.005884906159016325,
 0.0069427542334008245,
 0.010770639036938884,
 0.006751753379764474,
 0.012227921708385586,
 0.006064878235984649,
 0.060135649474566774,
 0.003942955218189574,
 0.0034426445186066406,
 0.004494359136103654,
 0.007986258872644153,
 0.004320436580257025,
 0.008275688415929898,
 0.0042972434344635945,
 0.04093165341979292,
 0.0027525846879280407,
 0.0022717157742956043,
 0.0034126632611494708,
 0.004839045322536209,
 0.003342395589335547,
 0.008357117249281922,
 0.004586809661610079,
 0.041812886651071135,
 0.0024567057568340308,
 0.001973341152278893,
 0.0030057755279550348,
 0.004902842100823567,
 0.0029120873007099763,
 0.007827998974934476,
 0.004167115646183272,
 0.04100431711768722,
 0.0026041646465809745,
 0.0020187317945100616,
 0.0031441572615599793,
 0.004424825686826199,
 0.003081116446250114,
 0.008231039093942571,
 0.004303434864174158,
 0.04130146766238618,
 0.002603798818252058,
 0.002122990357385708,
 0.003244865165381578,
 0.00475177677226365,
 0.003170598742634438,
 0.007903507629369037,
 0.004194826316663001,
 0.04085894383694333,
 0.0026055272093111663,
 0.002020120622860535,
 0.0031682117050551737,
 0.004483931950234284,
 0.00310343346672154,
 0.007676239181581612,
 0.003829229878038799,
 0.026590720218126612,
 0.0025960304491029805,
 0.0019062588970097597,
 0.0031544204824277165,
 0.004335012574756067,
 0.0030963366357236203,
 0.00818766387646768,
 0.004006238834635617,
 0.040661528390208826,
 0.00241234463347113,
 0.0019225418542111131,
 0.0030763185041613305,
 0.004624963934519495,
 0.0029999784174093145,
 0.00828988153885354,
 0.004251242233019268,
 0.04089538212738059,
 0.0026033164040030502,
 0.0020180902933415383,
 0.003141499499952592,
 0.004697711765888756,
 0.003064783335229385,
 0.008639471766970126,
 0.004505214038954744,
 0.04177199848308065,
 0.002581068216325586,
 0.002111061573159944,
 0.0032288197774147493,
 0.00494529183658723,
 0.0031441314824236398,
 0.00787572695989312,
 0.003911131170565299,
 0.04048146449271673,
 0.002415008471323102,
 0.0018206256006112465,
 0.002979788478068843,
 0.0043613765316823285,
 0.002911743609216645,
 0.009978980421782576,
 0.005643564925404529,
 0.05822626012453543,
 0.0028577977024529253,
 0.0024178175820029736,
 0.0033866747912347935,
 0.006183671677306603,
 0.003247879993140655,
 0.01327558010084183,
 0.0062193649878848675,
 0.06221440111192007,
 0.005395707247764063,
 0.004895444786237371,
 0.005949156656075192,
 0.009503904183174969,
 0.005772044195425593,
 0.00941995443597233,
 0.005224208844623701,
 0.029750538278706613,
 0.002678063641171408,
 0.002152421938028123,
 0.003168977174519077,
 0.005747087873044235,
 0.0030411932803329988,
 0.01138347412343558,
 0.005013843627444334,
 0.018247063206792213,
 0.004438132455264397,
 0.0037959442121927216,
 0.005170849613762348,
 0.006750719157384401,
 0.005092957468348926,
 0.008204344212249711,
 0.004172959903108198,
 0.014476028414196268,
 0.002534499522397452,
 0.001977791409729227,
 0.003126045082937771,
 0.004510740322525098,
 0.003057846060901836,
 0.00928063777000282,
 0.004275493246015459,
 0.01508334322844046,
 0.003308650682064409,
 0.0025114803911572194,
 0.003896665633542344,
 0.005170361439004822,
 0.0038339703551722795,
 0.007800881644709695,
 0.004057250391927147,
 0.013031968024487101,
 0.00272036266460426,
 0.0020832410574905024,
 0.003329642665033332,
 0.0044290292244925766,
 0.003275577229701601,
 0.00775242139423192,
 0.004160273760035742,
 0.013094558760315183,
 0.0027487577107875505,
 0.0020849813367622982,
 0.003331876026084852,
 0.004447175435351061,
 0.0032770234236358118,
 0.010041867445983444,
 0.004565564503732462,
 0.015714671087739752,
 0.00416149242766224,
 0.003383974484168143,
 0.004771468834230961,
 0.005892799679681714,
 0.004716317837806499,
 0.010003784559946566,
 0.00457033834835052,
 0.01527502960060952,
 0.003955917116172776,
 0.003178379000566201,
 0.004565037493134995,
 0.0056593934914349105,
 0.004511220879001835,
 0.007978528468972942,
 0.0041088220144793325,
 0.014101113005286329,
 0.0025041533500294345,
 0.0019474272256607187,
 0.0030949346237002353,
 0.004455612179850977,
 0.003027927031099564,
 0.008670119993662987,
 0.004189444866828396,
 0.014106730173568626,
 0.0028221059291329022,
 0.002041307179270883,
 0.0034103213583686967,
 0.004690323451115169,
 0.0033473135651054856,
 0.009965285905220358,
 0.0057833125107302225,
 0.029188100437390528,
 0.0030850802666958924,
 0.0027356686713887824,
 0.0035807791390615683,
 0.006059576678867194,
 0.00345798264745288,
 0.008958891098962404,
 0.004751614772439141,
 0.04182786556948921,
 0.0026302262181530115,
 0.0021455416785044782,
 0.0033049846026966196,
 0.005191317955674846,
 0.0032118317479428934,
 0.011439313765570183,
 0.004961725385479971,
 0.018637069420415396,
 0.004269144300957562,
 0.0036270231532151372,
 0.004969968824705127,
 0.006639065341585139,
 0.004887638638090686,
 0.007881093539534523,
 0.004002701664570363,

In [418]:
test_df["WnvPresent"] = WnvPresent_proba
test_df["WnvPresent"].head()

Id
1    0.018911
2    0.006331
3    0.053901
4    0.007105
5    0.006691
Name: WnvPresent, dtype: float64

In [183]:

submission = test_df[["WnvPresent"]]
submission.index.name = "Id"
submission.head()

submission.to_csv("./assets/submission_no_ym_vote_proba_redo.csv", index = True)

    WnvPresent
Id
1     0.019205
2     0.007199
3     0.052898
4     0.009066
5     0.008393

**Kaggle**

Private: 0.68836

Public: 0.69945

### Predicting using Extra Trees Classifier

In [419]:
b_et.fit(X_no_ym_sc, y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=10, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=10, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=150,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [420]:
pred_proba = b_et.predict_proba(X_test_no_ym_sc)
pred_proba

array([[0.96259965, 0.03740035],
       [0.98979   , 0.01021   ],
       [0.94553612, 0.05446388],
       ...,
       [0.97470513, 0.02529487],
       [0.97470513, 0.02529487],
       [0.97470513, 0.02529487]])

In [421]:
WnvPresent_proba = [prob[1] for prob in pred_proba]
WnvPresent_proba

test_df["WnvPresent"] = WnvPresent_proba
test_df["WnvPresent"].head()

[0.03740035034104584,
 0.010210003084355738,
 0.054463879350433946,
 0.013529988223310757,
 0.009278308169087703,
 0.018293527246047936,
 0.018293527246047936,
 0.018293527246047936,
 0.03556207946463543,
 0.009889330585162986,
 0.0572935406393214,
 0.011715392790883676,
 0.006554418528453368,
 0.016138183672992867,
 0.016138183672992867,
 0.016138183672992867,
 0.04123123399287671,
 0.012658388364338639,
 0.059690261462915506,
 0.016708735891236733,
 0.012493485709509124,
 0.02134271072080548,
 0.02134271072080548,
 0.02134271072080548,
 0.02599964829305693,
 0.008690988012294886,
 0.036218751107161655,
 0.0073806546344594385,
 0.006056374371979095,
 0.013667982384064054,
 0.013667982384064054,
 0.013667982384064054,
 0.0242318610173906,
 0.008356576744682029,
 0.034387008115800005,
 0.006775865098143597,
 0.005451584835663252,
 0.012780361663789718,
 0.012780361663789718,
 0.012780361663789718,
 0.02489246800265057,
 0.00853771553429736,
 0.03520026484805531,
 0.007886435871347719,
 0.006189552750101753,
 0.013890932436993844,
 0.013890932436993844,
 0.013890932436993844,
 0.0242318610173906,
 0.008356576744682029,
 0.03575687112949862,
 0.006775865098143597,
 0.005451584835663252,
 0.012780361663789718,
 0.012780361663789718,
 0.012780361663789718,
 0.026561752721611247,
 0.008921920105966097,
 0.03742087041763289,
 0.00789792009417636,
 0.005972669142697159,
 0.014185247843780975,
 0.014185247843780975,
 0.014185247843780975,
 0.025593922150773305,
 0.008900957342933984,
 0.03666671054462105,
 0.0073806546344594385,
 0.006056374371979095,
 0.014094421616473436,
 0.014094421616473436,
 0.014094421616473436,
 0.02880437945808443,
 0.009749343573905016,
 0.037540907825818925,
 0.008559491563484891,
 0.007187875493877895,
 0.01465181282678001,
 0.01465181282678001,
 0.01465181282678001,
 0.02489246800265057,
 0.008500150948345674,
 0.03568053297869938,
 0.007886435871347719,
 0.006189552750101753,
 0.013890932436993844,
 0.013890932436993844,
 0.013890932436993844,
 0.0288665959435445,
 0.009325496673083805,
 0.0376181035240428,
 0.008532832085890835,
 0.007221320309931406,
 0.01491500842164972,
 0.01491500842164972,
 0.01491500842164972,
 0.028494500124669867,
 0.009052837894179244,
 0.037540907825818925,
 0.008116165419224167,
 0.006931465237467638,
 0.014208486682519285,
 0.014208486682519285,
 0.014208486682519285,
 0.024028650285820838,
 0.008549296953238463,
 0.03149870795245303,
 0.007145156128304192,
 0.005451584835663252,
 0.012465338623030047,
 0.012465338623030047,
 0.012465338623030047,
 0.038424335227513345,
 0.010695282785924192,
 0.06153509567377983,
 0.013533640878801424,
 0.008624909542527086,
 0.0182971799015386,
 0.0182971799015386,
 0.0182971799015386,
 0.029392204842649542,
 0.00928957730935341,
 0.048695281308792616,
 0.011972195047246371,
 0.00853844670959251,
 0.01801359924699801,
 0.01801359924699801,
 0.01801359924699801,
 0.028266364461660594,
 0.009709262989685831,
 0.049079120391044825,
 0.00809652642736118,
 0.004830104473991433,
 0.01251931730947037,
 0.01251931730947037,
 0.01251931730947037,
 0.028450682130929574,
 0.008879797444775881,
 0.03854003140360869,
 0.008532832085890835,
 0.006931465237467638,
 0.014625153349185955,
 0.014625153349185955,
 0.014625153349185955,
 0.04008591051257923,
 0.01258238563412537,
 0.059469025925104724,
 0.014207942516534932,
 0.009299211180260595,
 0.01897148153927211,
 0.01897148153927211,
 0.01897148153927211,
 0.03683147748737818,
 0.010602655828904572,
 0.0549178785344755,
 0.014128247934204724,
 0.009912997752477117,
 0.01870269895424966,
 0.01870269895424966,
 0.01870269895424966,
 0.03966432404342204,
 0.011536517425880593,
 0.05937352474160277,
 0.015129156717625587,
 0.010195126858784969,
 0.019892695740362766,
 0.019892695740362766,
 0.019892695740362766,
 0.028595931768494266,
 0.0094997306927441,
 0.04383691639090516,
 0.010273988434989247,
 0.007768513451805933,
 0.016561316184593864,
 0.016561316184593864,
 0.016561316184593864,
 0.03476541487012333,
 0.010073405362762744,
 0.05657016043475127,
 0.01191149588373755,
 0.006339361562570092,
 0.016334286765846744,
 0.016334286765846744,
 0.016334286765846744,
 0.030281222045024987,
 0.009622119822107936,
 0.04892929070776493,
 0.011946896524680091,
 0.00878437025944549,
 0.018234224274284706,
 0.018234224274284706,
 0.018234224274284706,
 0.028522739127428785,
 0.009902441987868393,
 0.04651424532735662,
 0.009021508817871622,
 0.005274138358645821,
 0.013497917114153166,
 0.013497917114153166,
 0.013497917114153166,
 0.026146207161349848,
 0.009279455067251816,
 0.037810544633572495,
 0.007228111317933676,
 0.005960137361759637,
 0.013515439067538288,
 0.013515439067538288,
 0.013515439067538288,
 0.02887662307246384,
 0.009169652517239649,
 0.03854003140360869,
 0.008532832085890835,
 0.007221320309931406,
 0.01491500842164972,
 0.01491500842164972,
 0.01491500842164972,
 0.025187691178981533,
 0.00853771553429736,
 0.035213855301990615,
 0.007886435871347719,
 0.006189552750101753,
 0.013890932436993844,
 0.013890932436993844,
 0.013890932436993844,
 0.023656328290421073,
 0.008738303026184252,
 0.03566181473945001,
 0.007148467956909218,
 0.005451584835663252,
 0.013579403754964723,
 0.013579403754964723,
 0.013579403754964723,
 0.030324284651834007,
 0.009903170169682897,
 0.041580307784347834,
 0.010006914295548059,
 0.00553608940900971,
 0.014891960532820117,
 0.014891960532820117,
 0.014891960532820117,
 0.03346396753459807,
 0.010309692462332036,
 0.05410293201362245,
 0.010477717949459115,
 0.005973794969080093,
 0.014900508831568307,
 0.014900508831568307,
 0.014900508831568307,
 0.03370231566956217,
 0.009777424342736181,
 0.05264971691369447,
 0.010471120555429758,
 0.005934071281054875,
 0.014860785143543088,
 0.014860785143543088,
 0.014860785143543088,
 0.024219988307463833,
 0.008511195789151455,
 0.03538784213671028,
 0.006874495354169493,
 0.005451584835663252,
 0.013305431152224996,
 0.013305431152224996,
 0.013305431152224996,
 0.03040192939456663,
 0.010202674540421054,
 0.04529687040023416,
 0.010273988434989247,
 0.007522589901952953,
 0.016315392634740883,
 0.016315392634740883,
 0.016315392634740883,
 0.0280195794548234,
 0.008925620511221234,
 0.04092328303718713,
 0.008702236357784075,
 0.006776985406304874,
 0.01498956410738869,
 0.01498956410738869,
 0.01498956410738869,
 0.02912297043147465,
 0.00869024769106098,
 0.046365491112583146,
 0.010891131587783535,
 0.008329576011547794,
 0.017178459337388152,
 0.017178459337388152,
 0.017178459337388152,
 0.028457596934023808,
 0.008776619246426318,
 0.045748190283297976,
 0.010916430110349817,
 0.008083652461694813,
 0.016957834310101453,
 0.016957834310101453,
 0.016957834310101453,
 0.0349140541984736,
 0.010083116900463351,
 0.05230607702045018,
 0.011737394245953589,
 0.008065938223434647,
 0.016500933268690763,
 0.016500933268690763,
 0.016500933268690763,
 0.025162939343860224,
 0.009612377327017575,
 0.037554555174766295,
 0.008354141692365796,
 0.004229959504122938,
 0.012645616542031645,
 0.012645616542031645,
 0.012645616542031645,
 0.03009476158192398,
 0.009535149545154966,
 0.04916459307930981,
 0.00955349970452193,
 0.005218640697109867,
 0.013976290586631116,
 0.013976290586631116,
 0.013976290586631116,
 0.031039998466544563,
 0.010864187505762938,
 0.040795667750170655,
 0.009699107134437427,
 0.007450504470121301,
 0.01554550484787956,
 0.01554550484787956,
 0.01554550484787956,
 0.02726282213067825,
 0.008734085899906395,
 0.03855707310657831,
 0.008075200039128351,
 0.006264798570800972,
 0.014373700612971317,
 0.014373700612971317,
 0.014373700612971317,
 0.03105565645218835,
 0.009917463570682093,
 0.048388566612752794,
 0.010334113070518966,
 0.00530036767973073,
 0.015127274322998527,
 0.015127274322998527,
 0.015127274322998527,
 0.028980506488016526,
 0.009417923476649132,
 0.04421919738556517,
 0.011317450487625355,
 0.008811975504442042,
 0.017604778237229977,
 0.017604778237229977,
 0.017604778237229977,
 0.03235833844452552,
 0.009917463570682093,
 0.048363008366855566,
 0.010334113070518966,
 0.00530036767973073,
 0.015127274322998527,
 0.015127274322998527,
 0.015127274322998527,
 0.03331470123651672,
 0.009775691627955729,
 0.054440119333112144,
 0.011804350439727699,
 0.006889267400611523,
 0.01622714132183689,
 0.01622714132183689,
 0.01622714132183689,
 0.03847313179856511,
 0.010615558630794265,
 0.060376958274395646,
 0.013533640878801424,
 0.008624909542527086,
 0.0182971799015386,
 0.0182971799015386,
 0.0182971799015386,
 0.03633800961132948,
 0.010083731443379738,
 0.05613922777723974,
 0.012658047566752458,
 0.007438648487760012,
 0.01704771215486579,
 0.01704771215486579,
 0.01704771215486579,
 0.0339424284700052,
 0.009806449916340887,
 0.05497067485664565,
 0.011971609936986616,
 0.006399475615819155,
 0.01639440081909581,
 0.01639440081909581,
 0.01639440081909581,
 0.024805338657587373,
 0.009715336045273774,
 0.035751030705652664,
 0.008161139251494504,
 0.007006747251506782,
 0.014165635817140627,
 0.014165635817140627,
 0.014165635817140627,
 0.03419310063255386,
 0.01054417452432137,
 0.051950948022632934,
 0.011065237251085613,
 0.007393781228566672,
 0.015828776273822787,
 0.015828776273822787,
 0.015828776273822787,
 0.02654331077691128,
 0.009612377327017575,
 0.03838150856578093,
 0.008479966146957375,
 0.004229959504122938,
 0.012771440996623225,
 0.012771440996623225,
 0.012771440996623225,
 0.025234362583861893,
 0.009347213901728086,
 0.03572060830632297,
 0.008091768510890886,
 0.0064511916959512266,
 0.01409626507653701,
 0.01409626507653701,
 0.01409626507653701,
 0.025304055933125135,
 0.009013880568394753,
 0.03619050551630829,
 0.008091768510890886,
 0.0064511916959512266,
 0.01409626507653701,
 0.01409626507653701,
 0.01409626507653701,
 0.02502512826749267,
 0.008952508626509804,
 0.035138094654792416,
 0.007760611416756141,
 0.006189552750101753,
 0.013765107982402264,
 0.013765107982402264,
 0.013765107982402264,
 0.02887662307246384,
 0.009169652517239649,
 0.03911289212684535,
 0.008532832085890835,
 0.007221320309931406,
 0.01491500842164972,
 0.01491500842164972,
 0.01491500842164972,
 0.025232754685353298,
 0.009130091672261774,
 0.03619050551630829,
 0.008020467263119049,
 0.00637989044817939,
 0.014024963828765174,
 0.014024963828765174,
 0.014024963828765174,
 0.02992288357073388,
 0.009529608854493478,
 0.037422025092670265,
 0.008719747973741301,
 0.007221320309931406,
 0.015101924309500187,
 0.015101924309500187,
 0.015101924309500187,
 0.029043048794750767,
 0.00870956493859734,
 0.04148605586798666,
 0.0102616855507288,
 0.008357181256544343,
 0.01654901330033342,
 0.01654901330033342,
 0.01654901330033342,
 0.03266821075281272,
 0.010778280595383962,
 0.05138106066292174,
 0.011035301352643695,
 0.0073320992983787235,
 0.015798840375380867,
 0.015798840375380867,
 0.015798840375380867,
 0.036730377339403514,
 0.010601074051952668,
 0.05434535608621477,
 0.012553553910735331,
 0.008270127824766247,
 0.017317092933472507,
 0.017317092933472507,
 0.017317092933472507,
 0.02856512381574424,
 0.008586846084927132,
 0.04648210486226277,
 0.010916430110349817,
 0.008083652461694813,
 0.016957834310101453,
 0.016957834310101453,
 0.016957834310101453,
 0.02539849156220815,
 0.0090328160477673,
 0.038947571132765604,
 0.007369395373753249,
 0.003491991589684435,
 0.0116608702234191,
 0.0116608702234191,
 0.0116608702234191,
 0.027245111367419122,
 0.009217220665326674,
 0.038458021038840995,
 0.008424202888131201,
 0.006521208827211228,
 0.014023953444518324,
 0.014023953444518324,
 0.014023953444518324,
 0.03487918204814399,
 0.010635124322073712,
 0.05557527451777618,
 0.011980586539085864,
 0.008322160453116782,
 0.01674412556182304,
 0.01674412556182304,
 0.01674412556182304,
 0.02519972403746238,
 0.009421708222615637,
 0.0367471117977516,
 0.007536753293242318,
 0.00626877933706828,
 0.013824081042846933,
 0.013824081042846933,
 0.013824081042846933,
 0.031471644243649656,
 0.009932598522159527,
 0.05425056034248876,
 0.009582466786190071,
 0.005670417511815188,
 0.013972131374303401,
 0.013972131374303401,
 0.013972131374303401,
 0.03444360071697275,
 0.010545210991828828,
 0.05485123818885916,
 0.010471120555429758,
 0.005934071281054875,
 0.014860785143543088,
 0.014860785143543088,
 0.014860785143543088,
 0.026443543258359972,
 0.009114923792315877,
 0.03803438180345244,
 0.008036062040419916,
 0.006380880478573323,
 0.013794635056213058,
 0.013794635056213058,
 0.013794635056213058,
 0.030651332614447042,
 0.011179329270743825,
 0.0407596829016858,
 0.009699107134437427,
 0.007450504470121301,
 0.01554550484787956,
 0.01554550484787956,
 0.01554550484787956,
 0.03184581166292434,
 0.009854043536094873,
 0.051169326234709024,
 0.0110356601571714,
 0.006120577118055224,
 0.015458451039280589,
 0.015458451039280589,
 0.015458451039280589,
 0.025981962338334677,
 0.009122833639938715,
 0.035753736349086046,
 0.007430963101257742,
 0.006276571101270022,
 0.013435459666903864,
 0.013435459666903864,
 0.013435459666903864,
 0.026738585089223374,
 0.010499501936969498,
 0.04112875264288375,
 0.008360000623244206,
 0.004316977855291204,
 0.012870330691765276,
 0.012870330691765276,
 0.012870330691765276,
 0.028349540207741702,
 0.009238929063387524,
 0.04348408037730566,
 0.007945512948768557,
 0.003491991589684435,
 0.012738674201248116,
 0.012738674201248116,
 0.012738674201248116,
 0.026418784988567565,
 0.008878060596154478,
 0.035753736349086046,
 0.007430963101257742,
 0.006276571101270022,
 0.013435459666903864,
 0.013435459666903864,
 0.013435459666903864,
 0.027498669865071393,
 0.00994600606065167,
 0.03645039886781042,
 0.008131450511362326,
 0.006742888409692593,
 0.014472395675139292,
 0.014472395675139292,
 0.014472395675139292,
 0.029595408820084823,
 0.010863056914003395,
 0.04094693404827036,
 0.00902620733819853,
 0.006890077270495882,
 0.015876353008217443,
 0.015876353008217443,
 0.015876353008217443,
 0.028255890649537204,
 0.011373001104305041,
 0.04722649594419673,
 0.00880550466543065,
 0.0045320316187320644,
 0.013346011164997224,
 0.013346011164997224,
 0.013346011164997224,
 0.028968055901345883,
 0.011545931469752607,
 0.04036503651022953,
 0.009041459869698938,
 0.006890077270495882,
 0.015200579686907956,
 0.015200579686907956,
 0.015200579686907956,
 0.02843619028060687,
 0.010575691997136781,
 0.04690958212569305,
 0.008745221799675953,
 0.00488290881171452,
 0.013285728299242527,
 0.013285728299242527,
 0.013285728299242527,
 0.027960971929470328,
 0.009415215170359916,
 0.03714626143436264,
 0.008082024478926584,
 0.006627448294252478,
 0.014487067845988584,
 0.014487067845988584,
 0.014487067845988584,
 0.03228963152932571,
 0.010430937822604748,
 0.04901005996049341,
 0.011000763497212114,
 0.0075056359641422835,
 0.015817919934121637,
 0.015817919934121637,
 0.015817919934121637,
 0.028872680787899778,
 0.010045715583042753,
 0.0487096191731784,
 0.00852241625888796,
 0.0046269769769306645,
 0.013029796464458671,
 0.013029796464458671,
 0.013029796464458671,
 0.026499408878007436,
 0.010051915746035686,
 0.03465731792376478,
 0.008041059098830768,
 0.00596078162758581,
 0.013761788394972501,
 0.013761788394972501,
 0.013761788394972501,
 0.0266568802266628,
 0.008816987563355423,
 0.03583093204730994,
 0.007847629767924408,
 0.006276571101270022,
 0.013852126333570532,
 0.013852126333570532,
 0.013852126333570532,
 0.027133683171322,
 0.010051732780799759,
 0.03395490413066132,
 0.008715011571010341,
 0.00596078162758581,
 0.014371642663867045,
 0.014371642663867045,
 0.014371642663867045,
 0.026618071229679498,
 0.009933834482853983,
 0.0355893645141651,
 0.008135301426082805,
 0.00596078162758581,
 0.014746524103692652,
 0.014746524103692652,
 0.014746524103692652,
 0.027079119022934972,
 0.010129435125880649,
 0.03465731792376478,
 0.008620769243758304,
 0.00596078162758581,
 0.01434149853990004,
 0.01434149853990004,
 0.01434149853990004,
 0.026450224131505218,
 0.008629568434009843,
 0.033676283763591434,
 0.007206057408284492,
 0.005185587829136198,
 0.012926786704426221,
 0.012926786704426221,
 0.012926786704426221,
 0.0268934457103389,
 0.00909646317608707,
 0.03740795720135306,
 0.00777118309591319,
 0.00596078162758581,
 0.014382405773523036,
 0.014382405773523036,
 0.014382405773523036,
 0.025502068891124482,
 0.008901363951375295,
 0.03665619610216206,
 0.007180963101257743,
 0.005609904434603355,
 0.013611898899313246,
 0.013611898899313246,
 0.013611898899313246,
 0.027698657454709324,
 0.008829828769561102,
 0.03716338450970208,
 0.008432677062588876,
 0.006627448294252478,
 0.014773622226365845,
 0.014773622226365845,
 0.014773622226365845,
 0.02747315585526644,
 0.009173982555932032,
 0.03676052736674595,
 0.008350893240840726,
 0.00596078162758581,
 0.01407162253698246,
 0.01407162253698246,
 0.01407162253698246,
 0.02823800165248201,
 0.010993351078777483,
 0.04294589544584012,
 0.009160101681349534,
 0.00488290881171452,
 0.013636509977631075,
 0.013636509977631075,
 0.013636509977631075,
 0.02993706916584893,
 0.010580029308532949,
 0.04908349360780224,
 0.009606945764470094,
 0.005711506482512801,
 0.014488200404664652,
 0.014488200404664652,
 0.014488200404664652,
 0.027146547710596235,
 0.009859692173364722,
 0.04112875264288375,
 0.008360000623244206,
 0.004316977855291204,
 0.012870330691765276,
 0.012870330691765276,
 0.012870330691765276,
 0.02963183482036771,
 0.008927365592862906,
 0.04026157096955886,
 0.009084574151805936,
 0.006829015988321861,
 0.01562914129511491,
 0.01562914129511491,
 0.01562914129511491,
 0.02784253227560578,
 0.008811605279751358,
 0.0379096432719712,
 0.008654910184055889,
 0.006264798570800972,
 0.014062917376430738,
 0.014062917376430738,
 0.014062917376430738,
 0.02803618364589076,
 0.00875032592324945,
 0.037144627218509134,
 0.008211641303066607,
 0.005746015028761616,
 0.013811391859453726,
 0.013811391859453726,
 0.013811391859453726,
 0.026996198572628003,
 0.008596442140013984,
 0.036736099140133635,
 0.007510074351499655,
 0.005456478478355501,
 0.013163298010510421,
 0.013163298010510421,
 0.013163298010510421,
 0.0266520895893208,
 0.008596442140013984,
 0.0365532943181306,
 0.007327269529496614,
 0.005273673656352461,
 0.01298049318850738,
 0.01298049318850738,
 0.01298049318850738,
 0.027896603913521664,
 0.00871719962925359,
 0.0388410061357338,
 0.008211641303066607,
 0.005712888734765757,
 0.013552142858310494,
 0.013552142858310494,
 0.013552142858310494,
 0.027217024764788995,
 0.00871719962925359,
 0.0388410061357338,
 0.008211641303066607,
 0.005712888734765757,
 0.013552142858310494,
 0.013552142858310494,
 0.013552142858310494,
 0.02784253227560578,
 0.008811605279751358,
 0.0379096432719712,
 0.008654910184055889,
 0.006264798570800972,
 0.014062917376430738,
 0.014062917376430738,
 0.014062917376430738,
 0.0274514393624207,
 0.008949408436497462,
 0.03780089626178488,
 0.007859077200502504,
 0.005746015028761616,
 0.013458827756889623,
 0.013458827756889623,
 0.013458827756889623,
 0.02956692215426421,
 0.011065308773141132,
 0.040289992833781124,
 0.009433336528534024,
 0.007011289391708004,
 0.01559245634574304,
 0.01559245634574304,
 0.01559245634574304,
 0.027687268878258772,
 0.010353471446749326,
 0.03758717129604396,
 0.008498691145593252,
 0.006627448294252478,
 0.01490373451265525,
 0.01490373451265525,
 0.01490373451265525,
 0.030807615180358593,
 0.009371810037307351,
 0.04038364883903968,
 0.009084574151805936,
 0.006829015988321861,
 0.015916032766216906,
 0.015916032766216906,
 0.015916032766216906,
 0.026756108488352498,
 0.008283720036247104,
 0.03692860911179787,
 0.007510074351499655,
 0.005456478478355501,
 0.012884955249878644,
 0.012884955249878644,
 0.012884955249878644,
 0.02813156717366381,
 0.00861651252888967,
 0.03755661196064646,
 0.007602666944092247,
 0.005746333550819268,
 0.0132330235717999,
 0.0132330235717999,
 0.0132330235717999,
 0.0268934457103389,
 0.00909646317608707,

Id
1    0.037400
2    0.010210
3    0.054464
4    0.013530
5    0.009278
Name: WnvPresent, dtype: float64

In [187]:

submission = test_df[["WnvPresent"]]
submission.index.name = "Id"
submission.head()

submission.to_csv("./assets/submission_no_ym_et_proba.csv", index = True)

    WnvPresent
Id
1     0.033654
2     0.009243
3     0.055521
4     0.015471
5     0.007852

**Kaggle**

Private: 0.70180

Public: 0.71639

So far, it seems like Extra Trees Classifier is doing better than Voting Classifier, but the model with years, month and days seem to be doing better.

## Exploring other features from weather

In [422]:
weather_comb = pd.read_csv('./assets/weather_combined_processed.csv', index_col=0)
weather_comb.shape
weather_comb.head()

(1471, 5)

         Date  Tavg  PrecipTotal  StnPressure  AvgSpeed
0  2007-05-01  67.5          0.0       29.140      9.40
1  2007-05-02  51.5          0.0       29.410     13.40
2  2007-05-03  57.0          0.0       29.425     12.55
3  2007-05-04  58.0          0.0       29.310     10.80
4  2007-05-05  60.0          0.0       29.430     11.75

In [423]:
weather_comb["Date"] = pd.to_datetime(weather_comb["Date"])
# weather_comb.set_index("Date", inplace=True)
# weather_comb.sort_index(inplace=True)

In [424]:
weather_comb.head(3)

        Date  Tavg  PrecipTotal  StnPressure  AvgSpeed
0 2007-05-01  67.5          0.0       29.140      9.40
1 2007-05-02  51.5          0.0       29.410     13.40
2 2007-05-03  57.0          0.0       29.425     12.55

In [425]:
weather_comb.tail(3)

           Date  Tavg  PrecipTotal  StnPressure  AvgSpeed
1468 2014-10-29  44.0        0.000       29.390      9.45
1469 2014-10-30  43.5        0.000       29.375      6.00
1470 2014-10-31  41.0        0.035       29.515     22.75

### Adding weather records from 10 days ago for predicting

In [426]:
# creating a new df to denote it as having weather from a fortnight ago
weather_n14_n10 = weather_comb.copy()

# `after_fort` to store the expected date that's 14 days later - this will be used to merge with combined ddf
weather_n14_n10["Date"] = weather_n14_n10["Date"] - dt.timedelta(days=10)

weather_n14_n10.head()

        Date  Tavg  PrecipTotal  StnPressure  AvgSpeed
0 2007-04-21  67.5          0.0       29.140      9.40
1 2007-04-22  51.5          0.0       29.410     13.40
2 2007-04-23  57.0          0.0       29.425     12.55
3 2007-04-24  58.0          0.0       29.310     10.80
4 2007-04-25  60.0          0.0       29.430     11.75

In [427]:
# adding a prefix to make these columns distinct post-merger
weather_n14_n10 = weather_n14_n10.add_prefix("n10_")
weather_n14_n10.shape
weather_n14_n10.head()

(1471, 5)

    n10_Date  n10_Tavg  n10_PrecipTotal  n10_StnPressure  n10_AvgSpeed
0 2007-04-21      67.5              0.0           29.140          9.40
1 2007-04-22      51.5              0.0           29.410         13.40
2 2007-04-23      57.0              0.0           29.425         12.55
3 2007-04-24      58.0              0.0           29.310         10.80
4 2007-04-25      60.0              0.0           29.430         11.75

In [428]:
df.head()

,Date,Latitude,Longitude,WnvPresent,NumMosquitos,YearMonth,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
0,2007-05-29,41.867108,-87.654224,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,1,0,0,0,0
1,2007-05-29,41.867108,-87.654224,0,2,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
2,2007-05-29,41.862292,-87.648860,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
3,2007-05-29,41.896282,-87.655232,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0
4,2007-05-29,41.907645,-87.760886,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0

In [429]:
weather_n14_n10["n10_Date"] = weather_n14_n10["n10_Date"].astype(str)

In [430]:
df_n14_n10 = pd.merge(df, weather_n14_n10, how = 'left', left_on = 'Date', right_on = 'n10_Date')
df_n14_n10.head()

,Date,Latitude,Longitude,WnvPresent,NumMosquitos,YearMonth,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Date,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
0,2007-05-29,41.867108,-87.654224,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,1,0,0,0,0,2007-05-29,70.5,0.0,29.21,13.1
1,2007-05-29,41.867108,-87.654224,0,2,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0,2007-05-29,70.5,0.0,29.21,13.1
2,2007-05-29,41.862292,-87.648860,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0,2007-05-29,70.5,0.0,29.21,13.1
3,2007-05-29,41.896282,-87.655232,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0,2007-05-29,70.5,0.0,29.21,13.1
4,2007-05-29,41.907645,-87.760886,0,1,2007-05,2007,5,29,22,75.5,0.0,29.415,6.95,2007-05-29,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0,2007-05-29,70.5,0.0,29.21,13.1

In [431]:
# dropping all datetime columns except week
# NumMosquitos need to be dropped since it's not in test

Xtr_n14_n10 = df_n14_n10.drop(columns=["WnvPresent", "Date", "NumMosquitos", "YearMonth", "Year", "Month", "Day", "Fort_Date", "n10_Date"])
Xtr_n14_n10.head(2)

y = df[["WnvPresent"]]
y.head(2)

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
0,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,1,0,0,0,0,70.5,0.0,29.21,13.1
1,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.4,0,0,0,1,0,0,0,70.5,0.0,29.21,13.1

   WnvPresent
0           0
1           0

In [432]:
# doing train, test, split
X_train, X_val, y_train, y_val = train_test_split(Xtr_n14_n10, y, stratify=y, random_state = 142)

ss = StandardScaler()

X_train_sc = ss.fit_transform(X_train)
X_val_sc = ss.transform(X_val)

In [433]:
test_df.head()

,Date,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,WnvPresent
Id,,,,,,,,,,,,,,,,,,,,,,,,
1,2008-06-11,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0,0.037400
2,2008-06-11,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0,0.010210
3,2008-06-11,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,1,0,0,0,0,0,0.054464
4,2008-06-11,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,0,0,1,0,0,0.013530
5,2008-06-11,41.95469,-87.800991,2008,6,11,24,75.0,0.0,29.31,10.2,2008-06-11,73.0,0.095,29.31,8.9,0,0,0,0,0,0,1,0.009278

In [436]:
test_keepid.tail()

,Id,Date,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans
116288,116289,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,1,0,0
116289,116290,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,0,1
116290,116291,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,1,0
116291,116292,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,0,0
116292,116293,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,1,0,0,0,0,0,0

In [437]:
test_df_n14_n10  = pd.merge(test_keepid, weather_n14_n10, how = 'left', left_on = 'Date', right_on = 'n10_Date')
test_df_n14_n10.tail()

,Id,Date,Latitude,Longitude,Year,Month,Day,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Date,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Date,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
116288,116289,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,1,0,0,2014-10-02,53.0,0.01,29.275,9.5
116289,116290,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,0,1,2014-10-02,53.0,0.01,29.275,9.5
116290,116291,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,1,0,2014-10-02,53.0,0.01,29.275,9.5
116291,116292,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,0,0,0,0,0,0,0,2014-10-02,53.0,0.01,29.275,9.5
116292,116293,2014-10-02,41.925652,-87.63359,2014,10,2,40,69.5,0.52,29.065,7.9,2014-10-02,54.5,0.0,29.055,7.9,1,0,0,0,0,0,0,2014-10-02,53.0,0.01,29.275,9.5

In [439]:
# dropping all datetime columns except week
# NumMosquitos need to be dropped since it's not in test

test_df_n14_n10 = test_df_n14_n10.drop(columns=["Date", "Year", "Month", "Day", "Fort_Date", "n10_Date"])
test_df_n14_n10.head(2)

,Id,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
0,1,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0,72.5,0.01,29.265,7.35
1,2,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0,72.5,0.01,29.265,7.35

In [442]:
test_df_n14_n10.set_index("Id", inplace=True)
test_df_n14_n10.tail(2)

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
Id,,,,,,,,,,,,,,,,,,,,,,
116292,41.925652,-87.63359,40,69.5,0.52,29.065,7.9,54.5,0.0,29.055,7.9,0,0,0,0,0,0,0,53.0,0.01,29.275,9.5
116293,41.925652,-87.63359,40,69.5,0.52,29.065,7.9,54.5,0.0,29.055,7.9,1,0,0,0,0,0,0,53.0,0.01,29.275,9.5

In [443]:
Xtr_n14_n10

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
0,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,1,0,0,0,0,70.5,0.00,29.21,13.1
1,41.867108,-87.654224,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0,70.5,0.00,29.21,13.1
2,41.862292,-87.648860,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0,70.5,0.00,29.21,13.1
3,41.896282,-87.655232,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0,70.5,0.00,29.21,13.1
4,41.907645,-87.760886,22,75.5,0.0,29.415,6.95,73.5,0.0,29.465,9.40,0,0,0,1,0,0,0,70.5,0.00,29.21,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8605,41.726465,-87.585413,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,1,0,0,0,0,0,55.0,0.09,29.02,9.5
8606,41.726465,-87.585413,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0,55.0,0.09,29.02,9.5
8607,41.723195,-87.649970,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0,55.0,0.09,29.02,9.5
8608,41.868077,-87.666901,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0,55.0,0.09,29.02,9.5
8609,41.793818,-87.654234,39,64.0,0.0,29.370,4.40,61.5,0.0,29.405,3.85,0,0,1,0,0,0,0,55.0,0.09,29.02,9.5

In [444]:
ss = StandardScaler()

X_tr_sc = ss.fit_transform(Xtr_n14_n10)

X_test_sc = ss.transform(test_df_n14_n10)

In [445]:
b_et.fit(Xtr_n14_n10, y)

Wnv_proba = [i[1] for i in b_et.predict_proba(X_test_sc)]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=10, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=10, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=150,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [446]:
test_df_n14_n10["WnvPresent"] = Wnv_proba
test_df_n14_n10["WnvPresent"].head()

Id
1    0.012929
2    0.007285
3    0.014406
4    0.006937
5    0.005882
Name: WnvPresent, dtype: float64

In [225]:
submission = test_df[["WnvPresent"]]
submission.index.name = "Id"
submission.head()

submission.to_csv("./assets/submission_et_n14_n10.csv", index = True)

    WnvPresent
Id
1     0.033654
2     0.009243
3     0.055521
4     0.015471
5     0.007852

### Trying this again with imblearn for predicting

In [227]:
!pip install imblearn

Collecting imblearn
  Downloading https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn
  Downloading https://files.pythonhosted.org/packages/e6/62/08c14224a7e242df2cef7b312d2ef821c3931ec9b015ff93bb52ec8a10a3/imbalanced_learn-0.5.0-py3-none-any.whl (173kB)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: scipy>=0.17 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.3.1)
Requirement already satisfied: scikit-learn>=0.21 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.21.3)
Requirement already satisfied: numpy>=1.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.17.3)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.5.0 imblearn-0.0

In [228]:
# using SMOTE to oversample WNV
from imblearn.over_sampling import SMOTE

In [447]:
# fit smote instance to train data
smote = SMOTE(random_state = 42)
xtrain_balanced, ytrain_balanced = smote.fit_resample(Xtr_n14_n10, df[["WnvPresent"]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [448]:

# put train data into df
xtrain_balanced = pd.DataFrame(xtrain_balanced, columns = Xtr_n14_n10.columns)
ytrain_balanced = pd.DataFrame(ytrain_balanced, columns = df[["WnvPresent"]].columns)

In [449]:
# check balance of dataset
# ytrain_balanced.WnvPresent.value_counts()

ytrain_balanced["WnvPresent"].value_counts()

1    8153
0    8153
Name: WnvPresent, dtype: int64

In [450]:
xtrain_balanced

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
0,41.867108,-87.654224,22.000000,75.500000,0.000000,29.415000,6.950000,73.500000,0.000000,29.465000,9.400000,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,70.500000,0.000000,29.210000,13.100000
1,41.867108,-87.654224,22.000000,75.500000,0.000000,29.415000,6.950000,73.500000,0.000000,29.465000,9.400000,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,70.500000,0.000000,29.210000,13.100000
2,41.862292,-87.648860,22.000000,75.500000,0.000000,29.415000,6.950000,73.500000,0.000000,29.465000,9.400000,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,70.500000,0.000000,29.210000,13.100000
3,41.896282,-87.655232,22.000000,75.500000,0.000000,29.415000,6.950000,73.500000,0.000000,29.465000,9.400000,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,70.500000,0.000000,29.210000,13.100000
4,41.907645,-87.760886,22.000000,75.500000,0.000000,29.415000,6.950000,73.500000,0.000000,29.465000,9.400000,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,70.500000,0.000000,29.210000,13.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16301,41.735593,-87.652243,33.989207,79.962223,0.618254,29.259406,8.912763,80.059364,0.000000,29.274298,6.604317,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,69.500000,0.000000,29.513057,4.690826
16302,41.770788,-87.668193,33.000000,76.500000,0.530000,29.200000,6.450000,77.500000,0.000000,29.365000,8.500000,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,71.500000,0.295000,29.260000,6.000000
16303,41.704173,-87.702173,30.981835,74.522706,0.035990,29.169773,9.854541,78.518165,0.000000,29.275363,8.012308,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,71.522706,0.000000,29.413547,5.495413
16304,41.955783,-87.915678,37.000000,53.545742,0.000000,29.590374,3.858630,53.481299,0.127661,29.344220,14.293442,0.0,0.844074,0.155926,0.0,0.0,0.0,0.0,58.513521,0.890498,29.027963,12.863090
16305,41.747098,-87.652699,36.000000,80.000000,0.000000,29.275000,6.600000,75.500000,0.000000,29.440000,9.350000,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,51.000000,0.000000,29.590000,6.250000

In [451]:
X_test = test_df_n14_n10.drop(columns=["WnvPresent"])
X_test.head()

,Latitude,Longitude,Week,Tavg,PrecipTotal,StnPressure,AvgSpeed,Fort_Tavg,Fort_PrecipTotal,Fort_StnPressure,Fort_AvgSpeed,erraticus,pipiens,pipiens_restuans,restuans,salinarius,tarsalis,territans,n10_Tavg,n10_PrecipTotal,n10_StnPressure,n10_AvgSpeed
Id,,,,,,,,,,,,,,,,,,,,,,
1,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,1,0,0,0,0,72.5,0.01,29.265,7.35
2,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,1,0,0,0,72.5,0.01,29.265,7.35
3,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,1,0,0,0,0,0,72.5,0.01,29.265,7.35
4,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,0,1,0,0,72.5,0.01,29.265,7.35
5,41.95469,-87.800991,24,75.0,0.0,29.31,10.2,73.0,0.095,29.31,8.9,0,0,0,0,0,0,1,72.5,0.01,29.265,7.35

In [452]:

X_tr_sc = ss.fit_transform(xtrain_balanced)
X_test_sc = ss.transform(X_test)

In [453]:
b_et.fit(xtrain_balanced, ytrain_balanced)


Wnv_proba = [i[1] for i in b_et.predict_proba(X_test_sc)]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=10, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=10, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=150,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [454]:
test_df_n14_n10["WnvPresent"] = Wnv_proba
test_df_n14_n10["WnvPresent"].head()

Id
1    0.088250
2    0.038073
3    0.083778
4    0.076383
5    0.037579
Name: WnvPresent, dtype: float64

In [455]:
test_df_n14_n10[["WnvPresent"]].tail()

        WnvPresent
Id
116289    0.072344
116290    0.030244
116291    0.081438
116292    0.081438
116293    0.081438

In [456]:
submission = test_df_n14_n10[["WnvPresent"]]
submission.index.name = "Id"
submission.head()

submission.to_csv("./assets/submission_n14_n10_balanced.csv", index = True)

    WnvPresent
Id
1     0.088250
2     0.038073
3     0.083778
4     0.076383
5     0.037579

In [457]:
submission.shape

(116293, 1)

**Kaggle**

This seems to have backfired completely as after training on a balanced data set, my overall score

Private: 0.57445

Public: 0.57301